@import "../../../styles/config/colors";
@import "../../../styles/config/layout";

.laneList {
  margin: {
    top: $spacing--big;
    left: 0;
    bottom: 0;
    right: 0;
  };
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.item {
  flex: 1 0 auto;
  padding: 0 $spacing--big;
}