Django==1.7
Pillow==3.4.2
easy-thumbnails==2.3
coverage==3.7.1
django-el-pagination==2.1.2
django-debug-toolbar==1.4
django-taggit==0.19.1
django-suit==0.2.18

# needed for plagcheck worker side
celery==3.1.19
flower==0.8.3

# plugcheck at aurora side
django-celery==3.1.17

# data driven tests
ddt

#diskurs
django-markup==1.0
markdown==2.6.5
