Django>=1.9,<1.10
Pillow==3.4.2
easy-thumbnails==2.4.1
coverage==3.7.1
django-el-pagination==2.1.2
django-debug-toolbar==1.4
django-taggit==0.19.1
django-suit==0.2.18

# needed for plagcheck worker side
django-celery==3.2.1
celery==3.1.25
flower==0.9.1
ddt==1.1.1

#diskurs
django-markup==1.0
markdown==2.6.5
