Django==1.10
Pillow==3.4.2
easy-thumbnails==2.4.1
coverage==3.7.1
distribute
django-el-pagination==2.1.2
psycopg2==2.6.1
six==1.6
django-taggit==0.19.1
django-suit==0.2.18

# plugcheck at aurora side
django-celery==3.2.1

#diskurs
django-markup==1.0
markdown==2.6.5
