.style__modal___2FOtZ {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5001;
	background: rgba(0,0,0,.75);
	overflow-y: scroll
}

.style__window___EE3X8 {
	border-radius: 5px;
	border: 1px solid #cbcbcb;
	background: #fff;
	margin: 105px auto;
	width: 700px
}

.style__header___gSFNj {
	position: relative;
	width: 100%
}

.style__close___JgRVK {
	float: right;
	font-size: 2em;
	color: red;
	z-index: 5
}

.style__close___JgRVK:active,.style__close___JgRVK:focus,.style__close___JgRVK:hover {
	background: none!important;
	text-shadow: none!important;
	color: #f66!important
}

.style__title___HmgoS {
	position: relative
}

.style__icon___29uWf {
	position: absolute;
	left: -50px;
	width: 40px;
	color: #aaa;
	font-size: 2em;
	text-align: center
}

.style__issueDetail___2e2N8 {
	padding: 14px 14px 14px 63px
}

.style__title___HmgoS {
	width: 90%;
	font-size: 1.2em;
	font-weight: 700
}

.style__subtitle___1rcLd {
	font-size: .9em;
	color: #aaa
}

.style__type___2Gah2 {
	color: #aaa
}

.style__content___IFQCu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap
}

.style__images___2VAa3 {
	margin-top: 14px;
	width: 100%;
	clear: both
}

.style__images___2VAa3 img {
	width: 150px;
	height: auto
}

.style__body___2juuJ {
	-webkit-box-flex: 2;
	-ms-flex-positive: 2;
	flex-grow: 2;
	margin-top: 14px;
	width: 75%
}

.style__actions___37QoZ {
	text-align: right;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	margin-top: 14px;
	margin-left: 14px;
	width: 25%
}

.style__actions___37QoZ li {
	margin-bottom: 14px
}

.style__comments___3a26m {
	margin-top: 21px
}

.style__comments___3a26m h2 {
	font-weight: 700;
	border-bottom: 1px solid #cbcbcb
}

.style__new-comment___Wk2iq {
	position: relative;
	margin-top: 14px
}

.style__new-comment___Wk2iq .style__pic___2Lznp {
	position: absolute;
	left: -50px;
	width: 40px;
	text-align: center
}

.style__new-comment___Wk2iq .style__pic___2Lznp img {
	width: 100%;
	height: auto
}

.style__new-comment___Wk2iq input[type=submit] {
	margin-top: 14px
}

.style__textarea___2JxXC {
	border: 1px solid #aaa;
	padding: 14px
}

.style__textarea___2JxXC textarea {
	border: none;
	width: 100%
}

.style__issueTypeLabel___e8qCy {
	color: #aaa
}

.style__issueTypeLabel___e8qCy select {
	width: 20%;
	margin-right: 10px
}

.style__issueTypeLabel___e8qCy input[type=text] {
	width: 60%;
	font-weight: 700;
	border-style: none;
	border-bottom: 1px solid #000;
	outline: none
}

.style__issueTypeLabel___e8qCy button {
	width: 10%
}

.style__editing___2POed,.style__editing___2POed *,.style__editing___2POed :after,.style__editing___2POed :before {
	box-sizing: border-box
}

.style__editing___2POed textarea {
	width: 100%;
	min-height: 300px;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 2px;
	box-shadow: inset 0 0 3px 1px #ccc
}

.style__button___Qi2AB {
	margin-top: 10px
}

.style__content___uQAgY strong {
	font-weight: 700
}

.style__content___uQAgY em {
	font-style: italic
}

.style__content___uQAgY li {
	margin-left: 1rem
}

.style__content___uQAgY ul {
	list-style-type: disc
}

.style__content___uQAgY ol {
	list-style: decimal
}

.style__content___uQAgY pre {
	margin: .75rem 0;
	padding: .25rem;
	background: #f0ffd0;
	border: 1px solid #e0eec0;
	box-shadow: inset 0 0 3px 0 #e0eec0
}

.style__content___uQAgY h1,.style__content___uQAgY h2,.style__content___uQAgY ol,.style__content___uQAgY p,.style__content___uQAgY ul {
	padding: .5rem 0
}

.style__content___uQAgY h1:first-child,.style__content___uQAgY h2:first-child,.style__content___uQAgY ol:first-child,.style__content___uQAgY p:first-child,.style__content___uQAgY ul:first-child {
	margin-top: 0
}

.style__content___uQAgY h1 {
	font-size: 1.5rem
}

.style__content___uQAgY h2 {
	font-size: 1.25rem
}

.style__select___12K_d {
	margin: 14px
}

.style__select___12K_d label {
	display: block
}

.style__select___12K_d select {
	margin-top: 7px
}

.styles__error___1sPX8 {
	color: red;
	margin: 5px 0
}

.style__submit___3AEKx button {
	margin: 14px;
	float:right;
	font-size:130%;
}

.style__text_area___2cwnc {
	margin: 14px
}

.style__text_area___2cwnc label {
	display: block
}

.style__text_area___2cwnc textarea {
	border: 1px solid #cbcbcb;
	margin-top: 7px;
	padding: 3px;
	width: 100%
}

.style__error___2-hY0 textarea {
	border-color: red
}

.style__text_input___2S6cK,.style__text_input_error___FjcAE {
	margin: 14px
}

.style__text_input___2S6cK label,.style__text_input_error___FjcAE label {
	display: block
}

.style__text_input___2S6cK input,.style__text_input_error___FjcAE input {
	margin-top: 7px;
	padding: 3px;
	border: 1px solid #cbcbcb
}

.style__error___3ZeTh input {
	border-color: red
}

.style__empty___lISp5,.style__item___3g1r5 {
	margin-top: 21px;
}

.style__empty___lISp5:first-child,.style__item___3g1r5:first-child {
	margin-top: 0
}

.style__empty___lISp5 {
	color: #aaa;
	background: #fff;
	padding: 14px;
	text-align: center;
	border-radius: 3px
}

.style__issueTeaser___30IcU,.style__issueTeaserPreview___2BHyN,.style__owned___k4MlC,.style__security___3EG3X {
	display: block;
	padding: 14px;
	border-radius: 3px;
	cursor: pointer;
	background: #fff;
	color: #222;
	text-decoration: none;
	background:#f8f8f8;
}

.style__issueTeaser___30IcU:active,.style__issueTeaser___30IcU:focus,.style__issueTeaser___30IcU:hover,.style__issueTeaserPreview___2BHyN:active,.style__issueTeaserPreview___2BHyN:focus,.style__issueTeaserPreview___2BHyN:hover,.style__owned___k4MlC:active,.style__owned___k4MlC:focus,.style__owned___k4MlC:hover,.style__security___3EG3X:active,.style__security___3EG3X:focus,.style__security___3EG3X:hover {
	background: #f7f7f7
}

.style__issueTeaserPreview___2BHyN {
	opacity: .5;
	cursor: wait
}

.style__comments___lRTtH,.style__upvotes___I14RN {
	margin-right: 21px
}

.style__footer___LQgoN {
	margin-top: 14px;
	color: #aaa;
	font-size: .9em
}

.style__type___3m7OY {
	color: #aaa
}

.style__owned___k4MlC {
	background:#F6F8CE;
}

.style__security___3EG3X {
	box-shadow: inset 0 0 6px 2px #ff827d
}

.style__lane___2mnz9 {
	border-radius: 5px;
	background:#243D2A;
    background-image: url("../img/aurora_head.png");
	background-clip: border-box;
	background-origin: border-box;
	background-position: 80% 22%;
	background-repeat:no-repeat;
	box-sizing: border-box;
	padding: 12px 0 0 0;
	width: 270px;
	max-height: 90%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column
}

.style__title___LFTjf {
	font-size: 1em;
	color:white;
	text-shadow:0 0 3px black;
	font-weight: 700;
	padding: 0 14px;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	position:relative;
	bottom:6px;
}

.style__content___10tMi {
	border-top:1px solid #3F6E34;
	padding-top: 14px;
	overflow-x: hidden;
	overflow-y: auto;
	background:white;
	border:0;
}

.style__laneList___2Lc4I {
	margin: 21px 0 0;
	padding: 0;
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	height: 100%;
	overflow-x: auto;
	overflow-y: hidden
}

.style__item___3aj6k {
	-webkit-box-flex: 1;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	padding: 0 21px;
	height: 100%
}

.style__kanban___o3cm8 {
	background: #fff;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column
}

.style__add___2FI9e {
	margin: 0 21px;
}
.style__add___2FI9e a {
	text-transform:uppercase;
	color:rgb(58, 201, 88);
	text-decoration:none;
	padding:3px;
	border-radius:3px;
}
.style__add___2FI9e a:active {
	background:rgb(58, 201, 88);
	color:white;
}

/*# sourceMappingURL=feedback.css.map*/