$font_color: #222222;
$light_color: #cbcbcb;
$second_color: #ecbd73;

$post_width: 250px;

$my_post_background: #fffbe6;
$op_post_background: #ffe8eb;
$new_post_background: #30bb90;

$document_padding_right: 50px;
$document_padding_bottom: 150px;

$arrow_width: 48px;
$arrow_height: 15px;
$arrow_color: #cbcbcb;

$avatar_max_height: 25px;
$avatar_max_width: 25px;