.unstarted {
	display:none;
}

.nope {
	opacity:0.1;
}

.nonsubmit {
	color:lightgray !important;
}

.nonsubmit:hover {
	color:lightgray !important;
}

#tinymce p {
	font-family: Helvetica Neue, Arial, sans-serif !important;
	font-size:13px;
}

.mce-path-item {
	visibility:hidden!important;
}

.mce-i-resize {
	visibility:hidden;
}

.nothere {
	display:none;
}


.XLbutton:before {
	content: '';
}

.review_section {
	cursor:pointer;
	padding:8px;
	margin:8px 0 8px 0;
	width:100%;
	border-top:1px dashed silver;
	border-bottom:1px dashed silver;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	background:#eee;
	font-weight:bold;
}

.review_section .question_container {
	font-size:90%;
}

.review_section .question {
	padding-left:12px;
	font-weight:normal;
}

.review_section .question:before {
	content:"â–";
}

.elaboration_text {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width:940px;
	overflow:hidden;
	padding:8px;
}

.evaluation_header {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width:920px;
	margin:10px 10px 0 10px;
	background-color: rgb(229, 235, 253);
	border-bottom:1px solid silver;
	padding:3px;
}

.evaluation_text {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width:920px;
	padding:3px;
	margin:10px;
	margin-top:0;
	background-color: rgb(245, 247, 252);
}

.qa_section {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-color:rgb(242,255,242);
	padding:8px;
	margin:8px 0 8px 0;
	width:100%;
	border-top:1px dashed silver;
	border-bottom:1px dashed silver;
}

.qa_section > span {
	display:block;
}


.submission_text {
	background:#316134;
	color:white;
	padding:16px 16px 0px 16px;
	border-radius:0 0 3px 3px;
	box-sizing: border-box;
	overflow:hidden;
}

.hidden_extra_question {
	background:#316134;
	color:white;
	padding:16px 16px 0px 16px;
	border-bottom:1px dashed rgba(255,255,255,0.5);	
	border-radius:3px 3px 0 0;	
	box-sizing: border-box;
	position:relative;
}

.see_through {
	background:rgba(0,0,0,0);
}

.input_position {
	position:absolute;
	top:35px;
	width:900px!important;
}


.gray_text {
	color:gray;
	background:white;
	position:absolute;
	top:37px;
	left:18px;
	width:900px;
}



.real_submit{
	position:relative;
	left:18px;
	bottom:0px;
	height:120%;
	padding:7px 10px 5px 15px;
	color:white;
	background:rgb(58,201,88);
	border:1px solid white;
	border-bottom:none;
	border-right:none;
	border-radius:3px 0 3px 0;
	box-sizing: border-box;
}

.real_submit:hover {
    text-shadow: 0px 0px 5px rgba(255,255,255,0.8)!important;
}

.real_submit:active {
	background-color:white!important;
	color:rgb(58,201,88)!important;
}

.real_submit_revised {
}

.challenge {
	padding:10px;
	width:940px;
}

.challenge_title {
	font-size:16px;
	font-weight:bold;
	margin-bottom:8px;
}

.challenge_description {
	margin-bottom:16px;
	line-height:140%;
}

.sideIcon {
	float:left;
	color:gray;
}


.stack {
}


h1 {
    margin: 10px;

}

.lineL {
    background-color: #f0f0f0;
}

.lineD {
    background-color: #f0f0f0;
}

#detail_area {
    width: 100%;
	padding:10px;
	box-sizing: border-box;
}

.stack_imgs {
	position:absolute;
	top:0px;
}

.stack_img {
	float:left;
	width:128px;
	height:128px;
	opacity: 0.1;
	filter:alpha(opacity=10); /* For IE8 and earlier */
}


.stack_icon {
	display:inline;
	float:right;
	position:relative;
	top:0px;
	right:4px;
}

.stack_icon i {
	color:gray;
}

.stack_status {
	opacity:1!important;

}

.stack_action {
	float:right;
	position:relative;
	z-index:3000;
}

.forbiddenfruit .stack_action {
	color:gray!important;
	cursor:default;
}

.allowedfruit .stack_action {
	color:rgba(58,201,88,1)!important;
	cursor:pointer;
}

.stack_next {
	z-index:192;
	position:relative;
}

.stack .title {
    font-size: 1.4em;
	z-index:210;
	position:relative;
	width:410px;
}

.stack_done {
	display:none;
	position:absolute;
	top:-30px;
	left:0px;
	margin-left:10px;
	font-size:140px;
	color:rgba(58,201,88,0.2);
	z-index:101;
	/*color:rgb(58,201,88);*/
}

.not_stack {
	clear:both;
	position:relative;
	padding: 1em;
	padding-bottom:0em;
	margin-left:0.5em;
	border-radius:0.5em;
	cursor:pointer;
	overflow:hidden;
	width:960px;
}

.filterbar {
	box-sizing: border-box;
	color:white;
	height:1em;
	margin-top:2em;
	margin-bottom:0.5em;
	background-color:#999;
    background-image: url("../img/auroraX.png");
	padding-bottom: 12px;
	padding-top:2px;
	padding-left: 10px;
	font-size:1.4em;
	border-radius:12px 12px 0px 0px;
	margin-left:1.05em;
	width:940px;
	height:28px;
	cursor:pointer;
}

.shrinked {
	height:45px;
}

.stack {
	box-sizing: border-box;
    padding: 10px 10px 5px 10px;
	width:940px;
	position:relative;
	margin-left:1.5em;
	border-radius:0em;
	cursor:pointer;
	overflow:hidden;
	margin-bottom:1em;
	z-index:100;
/*	box-shadow:0px 2px 7px rgba(0,0,0,0.1);
*/	border-top:1px solid #e8e8e8;
	border-top:1px solid #e8e8e8;
}

.forbiddenfruit div {
	opacity:0.4;
	cursor:default;
}

.allowedfruit div {
	opacity:1!important;
	cursor:pointer;
}

.forbiddenfruit {
	cursor:default;
}

.allowedfruit {
	cursor:pointer;
}


.finished {
	background:rgba(252,252,252,1)!important;
	box-shadow:0px 1px 3px rgba(0,0,0,0.1)!important;

}

.stack .description {
	margin-bottom:1em;
	margin-top:1em;
	z-index:190;
	position:relative;
}

.stack .legend {
}

.review_wrapper {
	min-height:32px;
	padding:4px;
	vertical-align:center;
}

.review_box {
    height: 16px;
    width: 16px;
	border-radius:3px;
    float: left;
	margin-left:10px;
	margin-top:0.2em;
}

.review_box.inactive {
    background-color: #555555;
    opacity: 0.2;
	filter:alpha(opacity=20); /* For IE8 and earlier */
}

.review_box.done {
/*	background-color:rgb(251, 249, 149);*/
}

.review_box.in_progress {
    cursor: pointer;
	background-color:rgba(58,201,88,0.5);
}

.review_box.active {
    cursor: pointer;
	color:rgba(58,201,88,1);
	background-color:white;
	box-shadow: 0 0 5px rgb(58,201,88);
}

.review_box.active i {
	position:relative;
}

@-moz-document url-prefix() {
	.review_box.active i {
		vertical-align:0;
	}
}

.fig {
    margin-top:5px;
	font-size:80%;
    text-align: center!important;
}


.mce-container-body {
	border:none;
}

.mce-container {
}

.history_headline {

}

.hidden_text {
	position: absolute;
	right:0px;
	top:4px;
	color:gray;
	text-transform:uppercase;
	display:none;
}



.status_under_MCE {
	position:relative;
	width:530px;
	float:left;
}

.all_reviews {

}

.show_review {
	background-color:#eee;
	padding:1em;
	margin-bottom:1em;
}

.show_review_verdict {
	margin-bottom:0.5em;
}



.create_revision_text {
	color:gray;
	margin-top:1em;
	padding:0.5em;
}

.create_revision_link {
	margin-bottom: 1em ;
}

.revision_section{
	display:none;
	margin-bottom:4em;
	margin-top:2em;
	clear:both;
}

.changelog {
	margin-top:1em;
}

.changelog input[type=text] {
	width:100%;
	text-align:top;
}

.lb-download {
	color:white;
}

.chapter {
	border-bottom:1px
	margin-bottom:5px;
	width:890px;
}

.submitted-content > trix-toolbar {
  display: none !important;
  pointer-events: none !important;
}

.submitted-content > trix-editor {
  pointer-events: none !important;
}

.submitted-content {
  margin-bottom: 20px;
}

.lowkey {
	color:rgba(255,255,255,0.5)!important;
}

.zustimmung {
	float:left;
	height:40px;
}

.zustimmungstext {
	padding-left:1.5em;
	width:80%;
}

.cannot_submit {
	background:rgba(255,255,255,0.6);
	color:gray;
	pointer-events:none;
}

.new_word_count {
	position:absolute;
	right:3px;
	bottom:20px;
}

form {
	position:relative;
}

.new_word_count::before {
	content:'Word count: ';
}