@import "../../../styles/config/colors";
@import "../../../styles/config/layout";
@import "../../../styles/abstract/selecting";


.container {
}

.item {
  margin-top: $spacing--big;
  &:nth-child(1) {
    margin-top: 0;
  }
}

.empty {
  @extend .item;
  color: $gray;
  background: white;
  padding: $spacing;
  text-align: center;
  border-radius: $border-radius;
}


.body {
  height: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}