@import "../../styles/config/colors";
@import "../../styles/config/layout";
@import "../../styles/abstract/selecting";

.item {
  margin-top: $spacing--big;
  &:nth-child(1) {
    margin-top: 0;
  }
}
