#msgInput {
	position:fixed;
	bottom:0.5em;
	width:560px;
	height:1.5em;
	left:1.5em;
	z-index:30001;
	box-shadow:0 1px 3px rgba(0,0,0,0.3) inset;
	background:#;
	border-radius:20px;
	padding: 0 0.5em;
}

/*
.MessageList {
  position:relative;
}

.MessageList div {
  position:absolute;
  bottom:0;
}
*/

.ChatMessageBody {
	padding:3px 6px!important;
}

.MessageList {
	display:flex;
	flex: 1 1 auto;
	flex-direction:column;
	height:100%;
	align-content:flex-end;
}

.MessageList div {
	width:100%;
}

.Chat {
	width:100%;
	height:100%;
	display:flex;
}

.