#msgInput {
	position:fixed;
	bottom:0.5em;
	width:550px;
	height:1.5em;
	left:1.5em;
	z-index:30001;
	box-shadow:0 1px 2px rgba(0,0,0,0.3) inset;
	background:#ddd;
	border-radius:20px;
	padding: 0 0.5em;
}

.ChatMessageBody {
	padding:3px 10px 2px 10px!important;
    min-height:0px!important;
    background: #f8f8f8;
	width:90%!important;
	border-radius:0 6px 6px 6px;
	font-weight:400!important;
	display:inline-block;
	text-align:left;
	padding-bottom:9px;
	box-shadow: 0 2px 2px rgba(0,0,0,0.1);
}

.self_author>.ChatMessageBody {
    background-color: #fff9bd!important;
}

.staff>.ChatMessageBody {
    background-color: rgb(240, 255, 238)!important;
}

.ChatMessage.self_author {
	text-align:right;
}

.staff {
	background-color:transparent!important;
}

.ChatMessageAuthor {
	display:inline-block;
	background:white;
	color:#333;
	font-weight:bold;
	border-radius:3px 3px 0 0;
	padding:2px 6px!important;
	margin-top:9px;
	margin-right:100px;
}

.ChatMessageAuthor + .ChatMessageBody {
	border-top:1px solid #999;
	border-top-right-radius:0px!important;
	border-top-left-radius:0px!important;
}

.self_author>.ChatMessageAuthor{
	margin-left:100px;
	margin-right:0px;
}

.self_author>.ChatMessageBody {
	border-radius:6px 0 6px 6px;
}
.ChatMessageAuthor.self_author {
	margin-left:auto; margin-right:0; 
	background:black;
}
.MessageList {
	padding-bottom:40px;
}

.Chat {
	width:100%;
	height:100%;
	padding:6px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
	
}

#chat_activity {
	font-size:80%;
	opacity:0.5;
}

#chat-root {
	position: inherit;
    overflow: hidden;
	height: inherit;
	width: inherit;
	bottom: inherit;
	left: inherit;
	padding-top: inherit;
}

#chat {
	bottom: inherit;
	left: inherit;
	position: inherit;
	width: inherit;
	height: inherit;
	overflow-x: hidden;
	overflow-y: auto;
	padding-top: inherit;
}

#chat::-webkit-scrollbar {
	display: none;
}
