a.btn-next[href=''],a.btn-prev[href='']{
    display:none;
}

.slide-title {
	max-width:320px;
	overflow:hidden;
}


.card {
	border:none;
}

.card-block {
	padding:0.2em;
	position:relative;
}


.btn-primary {
	display:none;
}


.fs {
	overflow:hidden;
	border-radius:5px;
	height:100%;
	border:1px solid silver;
	background-color:white;
	z-index:0;
}
@media only screen and (max-width: 500px) {
	.aCard img {
		box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
		border-radius:3px;
		background-color:white;
		z-index:0;
		width:100%;
	}
}

@media only screen and (min-width: 501px) {
	.aCard img {
		box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
		border-radius:3px;
		background-color:white;
		z-index:0;
		width:320px;
	}
}


.card-with-note::after {
	content:"\1F4AC";
	position:absolute;
	right:12;
	bottom:40;
	font-size:162%;
	font-weight:bold;
	color:black;
	text-shadow: #FFFFFF 0px 0px 3px;
}
/*
.card-with-note:hover img, .lecturer_note:hover {
	filter:drop-shadow(0px 0px 4px rgb(58, 201, 88));
}
*/

.extraShadowN, .extraShadow img {
	box-shadow: 0px 0px 8px rgb(58,201,88);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.extraShadowN {
	background:white;
}

.grayout {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
	filter:opacity(20%);
-moz-border-radius}

.Card h3 {
	margin-top:6px;
}

.aCard {
	float:left;
}


.lecturer_note {
	padding:6px;
	border-radius:3px;
}

.lecturer_note br{
	display: block; /* makes it have a width */
	content: ""; /* clears default height */
	margin-top: 8px; /* change this to whatever height you want it */
}

.lecturer_note_title {
	background:#888;
	color:white;
	font-weight:bold;
	padding:0 3px 0 3px;
	border-radius:3px;
}

.fs::after {
	content:"";
	border-radius:5px;
	display:block;
	position:relative;
	top:4px;
	left:4px;
	width:100%;
	height:100%;
	border:1px solid silver;
	z-index:-100;
}


.ekko-lightbox-nav-overlay a span 
{
	color:rgb(58, 201, 88);
	font-size:200%;
}

.stack-title {
	position:absolute;
	bottom:0px;
	padding:3px 5px;
	font-size:90%;
	color:black;
	width:100%;
	background-color:rgba(255,255,255,0.8);
	z-index:10;
	border-radius: 0 0 5px 5px;
	margin-bottom:0;
}

.topic-title {
	position:absolute;
	bottom:0px;
	padding:3px 5px;
	font-size:162%;
	width:100%;
	height:100%;
	vertical-align:bottom;
	background-color:rgba(255,255,255,0.8);
	z-index:10;
	border-radius: 0 0 5px 5px;
	margin-bottom:0;
}

.topic-title-text {
	position:absolute;
	bottom:0;
	padding:4px;
	color:black;
}

.topic-title:hover {
	filter:opacity(25%);
}

.slide-stack-title,.topic_stack_title,.stack-title-category {
	font-weight:300;
	font-size:162%;
	padding-top:1em;
	padding-bottom:0.25em;
}

.slide-stack-title b,.topic_stack_title b,.stack-title-category b {
	font-weight:800;
}

.topic_stack_title::before {
	font-weight:100;
	content:"Sections in ";
}

.stack-title-category::after{
	content:"s ";
}

.also-belong {
	margin-bottom:1em;
}
.btn-next,.btn-prev{
	font-weight:normal;
	color:rgb(58, 201, 88);
	z-index:100;
}

.btn-next-not,.btn-prev-not {
	font-weight:normal;
	color:lightgray;
}

.slides_origin_center {
	width:px;
	margin-left:40%;
}


.slide-comments {
	position:relative;
	top:-20px;
}

.seen_link {
	display:none;
}

.slides_navi_next {
}

.slides_navi_prev {
	float:left;
}


.row {
	position:relative;
}

.lecturer_comments {
	padding:1em;
}

.lecturer_comments::after {
	content:"";
}


.modal-title {
	font-size:162%;
	font-weight:bold;
	float:left;
}

.modal-header button {
	padding-top:4px;
}
@media all and (min-width: 960px) {
	.slides_search_field input[type="text"] {
		width:480px;
		height:32px;
		border-radius:30px;
		border:1px solid silver;
		padding-left:20px;
		position:absolute;
		right:8px;
	}
	.slides_search_field input[type="submit"] {
		border:0;
		padding:2px;
		background:none;
		position:relative;
		right:10px;
		top:5px;
	}
}

@media all and (max-width: 959px) {
	.slides_search_field input[type="text"] {
		width:100%;
		height:32px;
		border-radius:30px;
		border:1px solid silver;
		padding-left:20px;
	}
	.slides_search_field input[type="submit"] {
		border:0;
		padding:2px;
		background:none;
		position:relative;
		top:-26px;
		right:8px;
	}
}