a.btn-next[href=''],a.btn-prev[href='']{
    display:none;
}


.card {
	border:none;
}

.card-block {
	padding:0.5em;
	margin-bottom:0;
	padding-bottom:0;
}


.btn-primary {
	display:none;
}


.fs {
	overflow:hidden;
	border-radius:5px;
	height:100%;
	border:1px solid silver;
	background-color:white;
	z-index:0;
}

.aCard img {
	box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
	border-radius:3px;
	background-color:white;
	z-index:0;
	width:320px;
}

.aCard:hover img, .lecturer_note:hover {
	filter:drop-shadow(0px 0px 6px green);
}

.extraShadow {
	filter:drop-shadow(0px 0px 6px green);
}

.extraShadowXL {
	filter:drop-shadow(0px 0px 10px green);
}

.Card h3 {
	margin-top:6px;
}

.aCard {
	float:left;
}

.lecturer_note {
	background:white;
	width:42%;
	margin-left:58%;
	padding:3px;
	border-radius:3px;
}

.fs::after {
	content:"";
	border-radius:5px;
	display:block;
	position:relative;
	top:4px;
	left:4px;
	width:100%;
	height:100%;
	border:1px solid silver;
	z-index:-100;
}


.ekko-lightbox-nav-overlay a span 
{
	text-shadow: 0px 0px 3px #000000;
	
}

.stack-title, .topic-title {
	position:relative;
	padding:3px 5px;
	font-size:90%;
	bottom:25px;
	color:white;
	width:100%;
	background-color:rgba(0,0,0,0.6);
	z-index:10;
	border-radius: 0 0 5px 5px;
}

.slide-stack-title,.topic_stack_title,.stack-title-category {
	font-weight:300;
	font-size:162%;
	padding-top:1em;
	padding-bottom:0.25em;
}

.slide-stack-title b,.topic_stack_title b,.stack-title-category b {
	font-weight:800;
}

.topic_stack_title::before {
	font-weight:100;
	content:"Sections in ";
}

.stack-title-category::after{
	content:"s ";
}

.also-belong {
	margin-bottom:1em;
}
.btn-next,.btn-prev{
	font-weight:normal;
	color:rgb(58, 201, 88);
}

.btn-next-not,.btn-prev-not {
	font-weight:normal;
	color:lightgray;
}


.slide-comments {
	position:relative;
	top:-20px;
}

.seen_link {
	display:none;
}

.slides_navi {
	float:right;
}

.lecturer_comments {
	padding:1em;
}

.lecturer_comments::after {
	content:"";
}


.modal-title {
	font-size:162%;
	font-weight:bold;
	float:left;
}

.modal-header button {
	padding-top:4px;
}


.