{% extends "slides_base.html" %}
{% load thumbnail %}
{% load comments %}
{% block content %}

<link rel="stylesheet" href="{{ STATIC_URL }}Comments/comments.css" type="text/css" media="screen"/>
{% comments_boilerplate %}



<!--title and other chapters-->
<h1 class="slide-stack-title">{{ slide_stack.title }}
	<div class="slides_navi">
		{% if prev %}<a href="{{ prev }}" class="btn-prev">PREVIOUS</a>{% else %}<span class="btn-prev-not">PREVIOUS</span>{% endif %}
		{% if nxt %}<a href="{{ nxt }}" class="btn-next">NEXT</a>{% else %}<span class="btn-next-not">NEXT</span>{% endif %}
	</div>
</h1>
    <p>These slides also belong to
        {% for topic in other_topics %}
            <a href="../../{{ topic.0 }}_{{ topic.1 }}">{% comment %}{{ topic.0 }}: {% endcomment %}{{ topic.1 }}</a>{% if not forloop.last %},{% endif %}
        {% endfor %}
    </p>
<hr />

<!--listing of slides-->
<div class="row">
	<div class="col-lg-7 col-md-12">
	{% for slide in slide_stack.slides %}
	    	<div class="card card-block aCard">
		        <a href="{{ slide.image|thumbnail_url:'full-res' }}" data-toggle="lightbox" data-gallery="example-gallery">
		            <img src="{{ slide.image|thumbnail_url:'preview' }}" class="img-fluid" alt="" />
		        </a>
		        <p></p>
		        <h3 class="slide-title card-title">{{ slide.title }}</h3>
                <p>{{ slide.lecturer_comment }}</p>
		    </div>
	{% endfor %}
	</div>

<!--Comments-->
	<div class="col-lg-5 col-md-12 slide-comments" id="comments_{{slide_stack.id}}">
        {% render_multi_comment_list for slide_stack newest_last endless %}
    </div>
</div>


{% endblock content %}