{% extends "slides_base.html" %}
{% load thumbnail %}
{% block content %}


<!--search form-->
<div class="row">
<div class="col-xs-12 slides_search_field" >
    <form method="GET" action="{% url 'Slides:search' course.short_title %}" class="text-xs-right">
    <input type="text" name="q" placeholder="Search slides"/>
    <input type="submit" value="&#x1F50D" />
    </form>
</div>
</div>


<!--enlisting of topics-->
{% for category in structure %}
{% if category.0 != "Section" %}
    <h1 class="stack-title-category">{{ category.0 }}</h1>

    <div class="row">

    {% for topic in category.1 %}
        <div class="col-xs-12 col-md-4 col-lg-3 col-xl-2">
            <div class="card card-block">
              <a href="{{ category.0 }}_{{ topic.0 }}">
              <div id="fs{{ forloop.parentloop.counter }}-{{ forloop.counter }}" class="fss fs" style="width:100%;height:50px;">

                <img class="card-img-top" src="{{ topic.1.0.slides.0.image|thumbnail_url:'preview' }}" id="firstImage" />
                {% for slide_stack in topic.1 %}
                    {% if not forloop.first %}
                    <img class="card-img-top img-fluid" src="{{ slide_stack.slides.0.image|thumbnail_url:'preview' }}" />
                    {% endif %}
                {% endfor %}
				  <div class="topic-title card-title"><span class="topic-title-text">{{ topic.0 }}</span></div>
              </div>
              </a>
              <p class="card-text">{{ topic.1.0.image.src }}</p>
              <a href="{{ category.0 }}_{{ topic.0 }}" class="btn btn-primary">View Topic</a></p>
            </div>
        </div>
    {% endfor %}

    </div>
    <br />
{% endif %}
{% endfor %}



{% endblock content %}