@import "../../../styles/config/colors";
@import "../../../styles/config/layout";

.lane {
  border: 1px solid $gray--light;
  border-radius: $border-radius--big;
  background: $gray--light;
  padding: $spacing 0;
  width: 270px;
}

.title {
  font-size: 1em;
  font-weight: bold;
  padding: 0 $spacing;
}

.content {
  padding: {
    top: $spacing;
    left: $spacing;
    right: $spacing;
  };
}

.empty {
  color: $gray;
  background: white;
  padding: $spacing;
  text-align: center;
  border-radius: $border-radius;
}
