@import "../../../styles/config/colors";
@import "../../../styles/config/layout";

.comment {
  display: block;
  padding: $spacing 0;
}

.header {
  position: relative;
  font-weight: bold;
}

.pic {
  position: absolute;
  left: -50px;
  width: 40px;
  height: auto;
}

.body {
  margin-top: $spacing;
  padding: $spacing;
  border: 1px solid $gray--light;
  border-radius: $border-radius;
}

.date {
  color: $gray;
  font-size: 0.9em;
}