{% load filter %}
{% load el_pagination_tags %}
{% load humanize %}

{% block content %}
    <div class="loading_animation">
        <img src="{{ STATIC_URL }}img/loading3.gif">
    </div>
    {% if enable_filters %}
        <form>
            <label for="state">Filter by state</label>
            <select name="state">
                <option value="">All suspicions</option>
                {% for state in suspicion_states %}
                    <option {% if state.0 == current_suspicion_state_filter %} selected="selected" {% endif %}value="{{ state.0 }}">{{ state.1 }}</option>
                {% endfor %}
            </select>

            <label for="suspect_semester">Suspect semester</label>
            <select name="suspect_semester">
                <option value>--</option>
                {% for semester in last_semesters %}
                    <option {% if semester == current_suspect_semester_filter %} selected="selected" {% endif %}value="{{ semester }}">{{ semester }}</option>
                {% endfor %}
            </select>

            <label for="suspect_user_name">Suspect user</label>
            <input type="text" name="current_suspect_user_name_filter" value="{{ current_suspect_user_name_filter }}"/>

            <label for="similar_semester">Similar semester</label>
            <select name="similar_semester">
                <option value>--</option>
                {% for semester in last_semesters %}
                    <option {% if semester == current_similar_semester_filter %} selected="selected" {% endif %}value="{{ semester }}">{{ semester }}</option>
                {% endfor %}
            </select>

            <label for="similar_user_name">Similar user</label>
            <input type="text" name="current_similar_user_name_filter" value="{{ current_similar_user_name_filter }}"/>

            <input type="submit" value="Filter" />
        </form>
    {% endif %}

    {% if not_checked %}
        <div>Latest document version not run through PlagCheck</div>
    {% else %}
        {% if suspicions %}
            <table class="overview_table">
                <tr>
                    <th colspan="3">suspected</th>
                    <th colspan="3">similar</th>
                </tr>
                <tr>
                    <th>user</th>
                    <th>submission time</th>
                    <th>elaboration</th>
                    <th>user</th>
                    <th>submission time</th>
                    <th>elaboration</th>
                    <th>similarity</th>
                    <th>date found</th>
                </tr>

                {% paginate suspicions %}
                {% for suspicion in suspicions %}
                    <tr class="{% cycle 'darkRow' 'lightRow' %}"
                        onclick="window.open('{% url 'Evaluation:plagcheck_compare' course_short_title=course.short_title suspicion_id=suspicion.id %}?{{ request.GET.urlencode }}' {% if open_new_window %} ,'_blank' {% else %}, '_self' {% endif %})">&nbsp;
                        <td><img class="gravatar" src="{{ suspicion.suspect_doc.user.avatar.url }}" style="vertical-align:middle"> {{ suspicion.suspect_doc.user.nickname }}</td>
                        <td>{{ suspicion.suspect_doc.submission_time.date }}</td>
                        <td>{{ suspicion.suspect_doc.elaboration.challenge.title|safe }}</td>
                        <td><img class="gravatar" src="{{ suspicion.similar_doc.user.avatar.url }}" style="vertical-align:middle"> {{ suspicion.similar_doc.user.nickname }}</td>
                        <td>{{ suspicion.similar_doc.submission_time.date }}</td>
                        <td>{{ suspicion.similar_doc.elaboration.challenge.title|safe }}</td>
                        <td>{{ suspicion.similarity }}</td>
                        <td>{{ suspicion.created|naturaltime }}</td>
                    </tr>
                {% endfor %}

                {% get_pages %}
                {% with total_pages=pages|length %}
                    {% show_current_number as actual_page %}
                    {{ pages.previous }}
                    {% if pages.previous %}
                        <div class="prev" style="color:gray">&nbsp; ({{ actual_page|add:"-1" }})</div>
                    {% endif %}
                    {{ pages.next }}
                    {% if pages.next %}
                        <div class="next" style="color:gray">({{ total_pages|subtract:actual_page }}) &nbsp; </div>
                    {% endif %}
                {% endwith %}

            </table>
        {% else %}
            <div>No similar elaborations found.</div>
        {% endif %}
    {% endif %}

{% endblock %}