@import "../../styles/config/colors";
@import "../../styles/config/layout";

.lane {
  border: 1px solid $gray;
  border-radius: $border-radius--big;
}

.title {
  font-size: 1em;
  font-weight: bold;
  padding: $padding;
  background: $gray;
}

.content {
  padding: $padding;
  background: white;
  border-radius: $border-radius;
}