{% extends "base.html" %}

{% block additional_headers %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/challenges.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/masonry.pkgd.min.js"></script>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/challenge.css" type="text/css" media="screen"/>
  {% load humanize %}
{% endblock %}

{% block content %}

{% if user_enlisted_and_active %}

	  <div class="not_stack">
		  Zur Zeit stehen folgende Challenges zur Verf&uuml;gung. Mehr werden im Laufe des Semesters hinzugef&uuml;gt. Bitte beachten Sie die allgemeinen Regeln, die in <a href="http://igw.tuwien.ac.at/aurora/aurora_challenges.pdf">Arbeiten in Aurora</a> und <a href="http://igw.tuwien.ac.at/aurora/aurora_reviews.pdf">zum Schreiben von Reviews</a> zusammengefasst sind.
	  </div>
	  <div class="filterbar"><div class= "button"  style="display:inline; color:gray">sort</div>
	  	<div class= "button" id="titleSort" style="display:inline">by title</div>&nbsp;
	  	<div class= "button" id="statusSort" style="display:inline">by status</div>&nbsp;
	  	<div class= "button"  id="chapterSort" style="display:inline">by chapter</div>&nbsp;
	  	<div class= "button"  id="dateSort" style="display:inline">reset sort</div>
	  </div>
	  <div id="detail_area" class="grid" >

    {% for stack in course_stacks|dictsort:"stack.title" %}
      <div class="stack lineL {% if stack.submitted %}finished{% endif %}{% if not stack.currently_active %} forbiddenfruit {% endif %} {% if stack.status.status == 7 %}allowedfruit{% endif %} C{{stack.stack.chapter.id}}" id="{{ stack.stack.id }}" data-title="{{stack.stack.title|safe}}" data-chapter="{{stack.stack.chapter.name}}" data-date="{{stack.submission_time}}" data-status="{{stack.status.status}}">
		<div class="stack_icon" style="float:right">
		   	{% if stack.submitted %}
		   		{% if stack.status.status == 7 %}
					<i class="fa fa-check fa-2x" style="color:green"></i>
				{% else %}
					<i class="fa fa-spinner fa-2x"></i>
				{% endif %}
			{% endif %}
		   	{% if not stack.currently_active %}<i class="fa fa-lock fa-2x"></i>{% endif %}
		   	{% if stack.is_started %}
				{% if not stack.submitted%}<i class="fa fa-pencil fa-2x"></i>{% endif %}
			{% else %}
				{% if stack.currently_active %}<i class="fa fa-unlock-alt fa-2x"></i>{% endif %}
			{% endif %}
		</div>
		<div class="chapter">Chapter &raquo;{{ stack.stack.chapter.name }}&laquo;</div>
		<div class="title">
			<b>{{ stack.stack.title|safe }}:</b> {{ stack.stack.get_challenge_image_urls|length }} Tasks
		</div>
        <div class="description  {% if stack.submitted %}finished_challenge{% endif %}">{{ stack.stack.description|safe|urlize }}</div>

		<div class="stack_status  {% if stack.submitted %}finished_challenge{% endif %}">
        {% if stack.currently_active %}
         <a href="stack?id={{ stack.stack.id }}" class="stack_action button XL" onclick="event.stopPropagation();">ENTER CHALLENGE</a>
        {% else %}
          <a href="#" class="stack_action button XL" onclick="event.stopPropagation();">{{ stack.stack.active_status_text }} {{ stack.stack.active_status_date|naturaltime }}</a>
        {% endif %}
			 <div class="stack_next">Status:<b>
				 {% if not stack.currently_active %} 
				 	Inactive 
				 {% else %}
				 	{% if stack.is_started %} 
				 		{% if stack.status.status == 7 %}Evaluated with {% else %}{{ stack.status.next }} {% endif %}
					{% else %}&nbsp;Not started
					{% endif %}
				{% endif %}
				{% if stack.status.status == 7 %}
					{% if stack.points != 0 %}
						{{ stack.points }} Points
					{% else %} 
						 0 Points
					{% endif %} 
				{% endif %}</b><br>
    		{% if stack.submitted %}<div class="submission_time" style="display:inline"> (Handed in {{ stack.submission_time|naturaltime }})</div>{% endif %}
           <br>
			  </div>
		</div>

      </div>
    {% endfor %}

  </div>

{% else %}

	<div style="padding: 2em;color: darkgray;font-size: 120%;width: 50%;"> 
		Nachdem Sie die Bedingungen für einen erfolgreichen Abschluss dieser LVA nicht mehr erfüllen können, ist der Zugriff auf die Challenges nicht mehr möglich.
	</div>

{% endif %}
{% endblock %}
