{% extends "base.html" %}
{% load render_uploads %}
{% load render_review_answers %}

{% block additional_headers %}
<script type="text/javascript" src="{{ STATIC_URL }}tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}tinymce/jquery.tinymce.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/challenge.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/review_evaluation.js"></script>
{% if not elaboration.is_submitted %}
<script type="text/javascript" src="{{ STATIC_URL }}dropzone/dropzone.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/file_upload.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}dropzone/css/dropzone.css" type="text/css" media="screen"/>
<link rel="stylesheet" href="{{ STATIC_URL }}dropzone/css/basic.css" type="text/css" media="screen"/>
{% endif %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/review.css" type="text/css" media="screen"/>
<link rel="stylesheet" href="{{ STATIC_URL }}css/challenge.css" type="text/css" media="screen"/>
<link rel="stylesheet" href="{{ STATIC_URL }}lightbox/css/lightbox.css" type="text/css" media="screen"/>
{% load humanize %}
{% endblock %}

{% block content %}

<div id="detail_area" >
	<div class="challenge">
    <div class="challenge_title">
    	{{challenge.title}} <a href="stack?id={{challenge.get_stack.id}}" class="button" style="font-weight:normal;font-size:90%"><i class="fa fa-arrow-circle-right button"></i> {{challenge.get_stack.title}}</a>
    </div>
	 <div class="challenge_description" >
		  {{ challenge.description|safe|urlize }}
	 </div>
    <b>You wrote {{user_reviews|length}} reviews for this task</b>
    <div class="all_reviews">
		{% for review_data in user_reviews %}
		<div class="view_review">
				{% render_review_answers review_data.review_id %}
        <div class="question_container">
          <div>
            {{ review_data.review.elaboration.extra_review_question }}
            <textarea class="review_answer" readonly>{{ review_data.extra_review_question_answer }}</textarea>
          </div>
        </div>
			{% if review_data.appraisal == "Awesome" %} <div class="appraisal Verdict_Success"><i class="fa fa-arrow-right"></i> Your review conclusion: <b>Accepted with extra <i class="fa fa-thumbs-o-up"></i></b>
            {% elif review_data.appraisal == "Awesome" %} Your Review conclusion: Accepted
			{% elif review_data.appraisal == "Success" %} <div class="appraisal Verdict_Success"><i class="fa fa-arrow-right"></i> Your review conclusion: <b>Accepted</b>
			{% elif review_data.appraisal == "Fail" %} <div class="appraisal Verdict_Success"><i class="fa fa-arrow-right"></i> Your review conclusion: <b>Accepted (Requirements missed)</b>
			{% elif review_data.appraisal == "Not even trying" %} <div class="appraisal Verdict_Not"><i class="fa fa-arrow-right"></i> Your review conclusion: <b>Plagiarism or cheated</b>
			{% endif %} <!-- review data -->
          </b>
        </div><hr style="margin-top:12px;margin-bottom:12px;border:0;border-bottom:1px dashed #aaa">
        <div class="show_review_feedback {% if review_data.evaluation != "" %}contains_feedback{% else %}no_feedback{% endif %}">

			{% if review_data.evaluation == "" %} Your review has not been rated yet.
        	{% elif review_data.evaluation == "P" %} Your review has been rated as <b>&raquo;helpful&laquo;.
        	{% elif review_data.evaluation == "D" %} Your review has been rated as <b>&raquo;ok&laquo;.
        	{% elif review_data.evaluation == "B" %} Your review has been rated as <b>&raquo;meaningless&laquo;.
       		{% elif review_data.evaluation == "N" %} Your review has been rated as <b>&raquo;minimalist or offensive&laquo;.
       		{% endif %}</b>
		</div>
	</div><br><br>

{% endfor %}
    </div>
</div>
{% endblock %}
