{% extends "base.html" %}
{% load render_uploads %}
{% load render_review_answers %}

{% block additional_headers %}
<script type="text/javascript" src="{{ STATIC_URL }}tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}tinymce/jquery.tinymce.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/challenge.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/review_evaluation.js"></script>
{% if not elaboration.is_submitted %}
<script type="text/javascript" src="{{ STATIC_URL }}dropzone/dropzone.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/file_upload.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}dropzone/css/dropzone.css" type="text/css" media="screen"/>
<link rel="stylesheet" href="{{ STATIC_URL }}dropzone/css/basic.css" type="text/css" media="screen"/>
{% endif %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/review.css" type="text/css" media="screen"/>
<link rel="stylesheet" href="{{ STATIC_URL }}css/challenge.css" type="text/css" media="screen"/>
<link rel="stylesheet" href="{{ STATIC_URL }}lightbox/css/lightbox.css" type="text/css" media="screen"/>
{% load humanize %}
{% endblock %}

{% block content %}

<div id="detail_area" >
	<div class="challenge">
        <div class="challenge_title">
            {{challenge.title}} <a href="stack?id={{challenge.get_stack.id}}" class="button" style="font-weight:normal;font-size:90%"><i class="fa fa-arrow-circle-right button"></i> {{challenge.get_stack.title}}</a>
        </div>
        <div class="challenge_description" >
            {{ challenge.description|safe|urlize }}
        </div>
        <b>You wrote {{reviews|length}} reviews for this task</b>
        <div class="all_reviews">
		    {% for review in reviews %}
                <div class="view_review">
                    {% render_review_answers review.review_id %}
                    <div class="question_container">
                        <div>
                            {{ review.review.elaboration.extra_review_question }}
                            <textarea class="review_answer" readonly>{{ review.extra_review_question_answer }}</textarea>
                        </div>
                    </div>

                    {% if review.appraisal == "Awesome" %}
                        <div class="appraisal Verdict_Success"><i class="fa fa-arrow-right"></i> Your review conclusion: <b>Accepted with extra <i class="fa fa-thumbs-o-up"></i></b></div>
                    {% elif review.appraisal == "Success" %}
                        <div class="appraisal Verdict_Success"><i class="fa fa-arrow-right"></i> Your review conclusion: <b>Accepted</b></div>
                    {% elif review.appraisal == "Fail" %}
                        <div class="appraisal Verdict_Success"><i class="fa fa-arrow-right"></i> Your review conclusion: <b>Accepted (Requirements missed)</b></div>
                    {% elif review.appraisal == "Not even trying" %}
                        <div class="appraisal Verdict_Not"><i class="fa fa-arrow-right"></i> Your review conclusion: <b>Plagiarism or cheated</b></div>
                    {% endif %} <!-- review data -->

                    <hr style="margin-top:12px;margin-bottom:12px;border:0;border-bottom:1px dashed #aaa"/>

                    {% if review.evaluations|length == 0 %}
                        <div class="show_review_feedback no_feedback">
                            Your review has not been rated yet.
                        </div>
                    {% else %}
                        {% for evaluation in review.evaluations %}
                            <div class="show_review_feedback contains_feedback">
                                Your review has been rated as
                                {% if evaluation.appraisal == "P" %}   <b>&raquo;helpful&laquo;</b>
                                {% elif evaluation.appraisal == "D" %} <b>&raquo;ok&laquo;</b>
                                {% elif evaluation.appraisal == "B" %} <b>&raquo;meaningless&laquo;</b>
                                {% elif evaluation.appraisal == "N" %} <b>&raquo;minimalist or offensive&laquo;</b>
                                {% endif %}
                                {% if evaluation.user.is_staff %}
                                    by the LVA team.
                                {% else %}
                                    by the student.
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <br/><br/>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
