.statistics {
    padding: 1em;
}

table {
}

.points-table {
    color: gray;
}

.tutor-table {
}

.review-evaluation-table {
    width: 600px;
}

.scoretable {
	width:100%;
	position:relative;
}

.center {
	border:2px solid white!important;
	width:60px!important;
	font-weight:bold;
}


.scoretable td {
	
}

.Raglin {
	text-align:right;
}

.scoretable td span {
	display:block;
	height:40px;
	width:40px;
	border-radius:200px;
	border:2px solid black;
	background:white;
	text-align:center;
	padding-top:9px;
    box-sizing: border-box;
	margin: 0 auto;
}


.aLine1 {
	display:block;
	width:80%;
	position:relative;
	top:40px;
	border:1px solid black;
}

.aLine2 {
	display:block;
	width:60%;
	position:relative;
	top:30px;
	border:2px dotted white;
}

.you,.youX {
	color:white;
	background:black!important;
}