.review_token {
	padding:0px 4px;
	border-radius:30px;
	background-color:#C5FFB6;
	border:2px solid #359440;
    cursor: pointer;
}


.review_token.yellow {
	background-color:yellow;
	border:1px solid orange;
	
}

.review_token.green {
	padding:-1px 7px;
	background-color:#00B700;
	border:1px solid #829B04;
	box-shadow: 0 0 4px 0px #FFBE46;
	font-weight:bold;
	color:#FFE8AA;
}

.review_token.red {
	color:white;
	background-color:red;
	border:2px solid darkred;
}

.challenge_image {
	width:96px;
	height:96px;
	border-radius: 6px;
	pointer-events:none;
}

.challenge_image_container {
	margin-left:1em;
	float:left;
	width:96px;
	height:96px;
	pointer-events:none;
	border-radius: 6px;
	border:1px solid silver;
}

.go_challenge {
	position:absolute;
	bottom:9px;
	right:12px;
	z-index:10000;
}

.no_clicksed {
	pointer-events:none;
	font-size:150%;
}

.review_space {
	margin-left:1em;
	padding-top:0.25em;
}

.status_space {
	margin-left:113px;
	cursor: default;
	margin-top:2px;
}

.challenges_stack {
	margin-left:0.5em;
	max-width:940px;
	padding:1em;
}

.info_title {
	font-size:1.5em;
}

.info_description {
	margin-top:1em;
}

.challenge_list {
	margin-top:1em;
}

.challenges_stack tr {
}

.challenges_stack tr td{
/*	border:1px dotted silver; */
	vertical-align:top;
}

.challenge-headline {
	font-weight:bold;
	pointer-events:none;
	margin-bottom:3px;
}

.inactive {
	opacity:0.65;
	filter:alpha(opacity=65); /* For IE8 and earlier */
}


.one_challenge {
	float:left;
	cursor:pointer;
	border-radius:0.5em;
	box-shadow:0px 2px 7px rgba(0,0,0,0.1);
	background:#eee;
	width:240px;
    background-repeat: no-repeat;
    background-position: center top;
	background-size: 240px 240px;
	height:360px;
	
}

.more_high {
	padding-top:1em;
}

.challenge-description {
	background:rgba(255,255,255,0.8);
	position:relative;
	top:120px;
	overflow:hidden;
	text-overflow: ellipsis;
	pointer-events:none;
	line-height:140%;
	width:240px;
	height:240px;
}

.cd-full {
	height:auto !important;
}

.challenge-text {
	width:240px;
}

.clickme {
	pointer-events:auto;
}

.challenge-text-hidden {
	position:relative;
	display:none;
	width:725px;
}

.challenge_top_bracket {
	border-radius: 1em 1em 0 0;
	border-top:1px solid #e8e8e8;
}

.challenge_footer {
	padding:0em 0.25em 0.5em 0.25em;
	border-radius: 0 0 1em 1em;
/*	background: linear-gradient(#fafafa,#eee);*/
	border-bottom:1px solid #e8e8e8;
	cursor:default;
}


.singleChallenge {
}


.review_label {
	clear:both;
}

.task_done {
	display:none;
	position:absolute;
	top:-20px;
	left:20px;
	font-size:130px;
	color:rgba(58,201,88,0.3);
	pointer-events:none;
	text-shadow:0 0 0 rgba(255,255,255,0.6);
}

.final_task {
	box-shadow:0px 2px 7px rgba(0,0,0,0.1), 0 0 6px 6px rgba(255,212,30,0.2);
}

.below {
	opacity:0.6;
	filter:alpha(opacity=86); /* For IE8 and earlier */
	
}

.divider {
	margin-top:10px;
	border-top:1px dashed black;
}

.row1 {
	padding:16px 4px 16px 0;
	font-size:20px;
	font-weight:bold;
}





.card_list {
	padding:1em;
}

.card {
	float:left;
	position:relative;
	margin-left:0.5em;
	margin-right:0.5em;
	margin-top:0.5em;
	margin-bottom:0.5em;
	width:294px;
	height:435px;
	border-radius:0.75em;
	background-color:#fff;
	border:1px solid silver;
    background-repeat: no-repeat;
    background-position: center top;
	background-size: 294px 294px;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
	overflow:hidden;
    cursor: pointer;
	z-index:-2;
}

.card  {
}

.not_yet_active {
	opacity:0.5;
	box-shadow: none;
}

.card_description {
	padding:0.5em;
	height:190px;
	position:relative;
	top:195px;
	overflow:hidden;
	line-height:135%;
	box-sizing: border-box;
	border-bottom:1px solid silver;
	border-top:1px solid silver;
    background: white;	
	font-size:80%;
	z-index:-1;
}

.card_headline {
	font-size:162%;
	font-weight:bold;
	line-height:120%;
	z-index:0;
}

.card_text {
	margin-top:0.5em;
	z-index:0;
	font-size:120%;
	line-height:120%;
}

.card_status_area {
	box-sizing: border-box;
	height:35px;
	position:relative;
	top:185px;
	background:#eee;
	padding:7px;
	padding-top:9px;
	padding-left:9px;
	border-top:1px solid silver;
	z-index:0;
}

.invisiblZ {
	visibility:hidden;
}

.status_next {
	color: rgb(58, 201, 88);
}

.card_status {
	box-sizing: border-box;
	position:relative;
	top:195px;
	height:25px;
	background: rgba(0,0,0,0.7);
	color:white;
	padding:7px;
	font-size:80%;
	z-index:0;
	text-align:right;
}



.card_reviews {
	text-align:center;
	box-sizing: border-box;
	height:33px;
	border-top:1px solid silver;
	position:relative;
	top:150px;
	background:#eee;
	width:100%;
	padding:7px;
	z-index:1;
	display:none;
}


.done {
	color:silver;
}

.doneR {
	color: rgb(58, 201, 88);
}

.donow {
	color: rgb(58, 201, 88);
	text-transform:uppercase;
}

.donot {
	text-transform:uppercase;
}

.donow:hover {
	text-shadow:0 0 5px rgba(58,201,88,0.3);
	
}

.review_box {
	float:none;
    display:inline-block;
    margin-right:10px;
}

.closer {
	position:absolute;
	right:0.5em;
	top:0.55em;
	color:gray;
}

.green {
	color:rgba(58, 201, 88, 1);
}

.peer_reviews {
	display:inline-block;
}

.locked {
	width:100%;
	color:black;
    text-shadow:
     -1px -1px 0 #fff,  
      1px -1px 0 #fff,
      -1px 1px 0 #fff,
       1px 1px 0 #fff;
	
	height:400px;
	font-size:24px;
	line-height:50%;
	background-color:rgba(255,0,0,0.8);
	text-align:center;
	position:absolute;
	top:0px;
	padding-top:150px;
	box-sizing: border-box;
}