@import "../../styles/config/colors";
@import "../../styles/config/layout";

%container {
  position: relative;
}

.icon {
  position: absolute;
  left: -50px;
  width: 40px;
  color: $gray;
  font-size: 2em;
  text-align: center;
}

.issueDetail {
  padding: $spacing $spacing $spacing $spacing--big*3;
}

.title {
  width: 90%;
  font-size: 1.2em;
  font-weight: bold;
  @extend %container;

}

.subtitle {
  font-size: 0.9em;
  color: $gray;
}

.type {
  color: $gray;
}

.content {
  display: flex;
  flex-wrap: nowrap;
}

.images {
  margin-top: $spacing;
  width: 100%;
  clear: both;

  img {
    width: 150px;
    height: auto;
  }
}

.body {
  flex-grow: 2;

  margin: {
    top: $spacing;
  }
  width: 75%;
}

.actions {
  text-align: right;
  flex-grow: 1;

  margin: {
    top: $spacing;
    left: $spacing;
  }
  width: 25%;

  li {
    margin-bottom: $spacing;
  }
}

.comments {
  margin-top: $spacing--big;

  h2 {
    font-weight: bold;
    border-bottom: 1px solid $gray--light;
  }
}

.new-comment {
  position: relative;
  margin-top: $spacing;

  .pic {
    position: absolute;
    left: -50px;
    width: 40px;
    text-align: center;

    img {
      width: 100%;
      height: auto;
    }
  }

  input[type=submit] {
    margin-top: $spacing;
  }
}

.textarea {
  border: 1px solid $gray;
  padding: $spacing;

  textarea {
    border: none;
    width: 100%;
  }
}