@import "../../styles/config/colors";
@import "../../styles/config/layout";

%container {
  position: relative;
}

.icon {
  position: absolute;
  left: -50px;
  width: 40px;
  color: $gray;
  font-size: 2em;
  text-align: center;
}

.issueDetail {
  padding: $spacing $spacing $spacing $spacing--big*3;
}

.title {
  width: 90%;
  font-size: 1.2em;
  font-weight: bold;
  @extend %container;

}

.subtitle {
  font-size: 0.9em;
  color: $gray;
}

.type {
  color: $gray;
}

.content {
  display: flex;
  flex-wrap: nowrap;
}

.body {
  flex-grow: 2;

  margin: {
    top: $spacing;
    left: $spacing;
  }
  width: 75%;
}

.actions {
  text-align: right;
  flex-grow: 1;

  margin: {
    top: $spacing;
    left: $spacing;
  }
  width: 25%;

  li {
    margin-bottom: $spacing;
  }
}

.comments {
  margin-top: $spacing--big;

  h2 {
    font-weight: bold;
    border-bottom: 1px solid $gray--light;
  }
}