@import "../../styles/config/colors";
@import "../../styles/config/layout";

.kanban {
  background: white;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.add {
  margin: 0 $spacing--big;
}