{% load tags %}
{% load markup_tags %}

<div class="container{%  if post.user == request.user %} my_post{% endif %}{%  if post.user == thread.user %} op_post{% endif %}">
    {%  if post.user.avatar %}
        <div class="post_avatar">
            <img src="{{ post.user.avatar.url }}" />
        </div>
    {% endif %}
    <div class="post_header{%  if post.user.avatar %} has_avatar{% endif %}">
        <span class="user">{{ post.user.username }}</span>
        <span class="votes">{{ post.sum_votes }}</span>
        {% if post.parent_post_id and post.user == request.user or post.parent_post_id and perms.delete_post %}
        <span class="delete">
            <a href="{% url 'diskurs:delete_post' thread.id post.id %}" class="delete"><i class="fa fa-times"></i></a>
        </span>
        {% endif %}
        <span class="vote">
            <a href="{% url 'diskurs:upvote_post' thread.id post.id %}" class="upvote {% is_upvoted_post post request.user %}"><i class="fa fa-arrow-up"></i></a>
            <a href="{% url 'diskurs:downvote_post' thread.id post.id %}" class="downvote {% is_downvoted_post post request.user %}"><i class="fa fa-arrow-down"></i></a>
        </span>
        <span class="count">{{ post.post_set.count }}</span>
    </div>
    <div class="post_content">
        {{ post.content|apply_markup:'markdown'}}
    </div>
    <div class="post_footer">
        <span class="timestamp">{{ post.created_at|timesince }}</span>
        <span class="reply">REPLY</span>
    </div>
</div>