
<div class="aMonth">
  <span class="aMonat">März</span>
</div>

<div class="aEvent">
  <span class="aDay">7</span>
  <span class="aContent">
    <span class="aKap">Kap1:</span>
    <b>Kick-Off</b><br>
    <span class="aChallenge">
      <i class="fa fa-pencil"></i>Einführungschallenge
    </span>
  </span>
</div>

<div class="aEvent">
  <span class="aDay">14</span>
  <span class="aContent">
    <span class="aKap">Kap1:</span>
    <b>Designing with the user in mind</b> <br>
    <span class="aChallenge">
      <i class="fa fa-pencil"></i>Interaktionsdesign: Berufsbilder [17]
    </span>
  </span>
</div>

<div class="aEvent">
  <span class="aDay">21</span>
  <span class="aContent">
    <span class="aKap">Kap1:</span>
    <b>&#3232;_&#3232;</b><br>
    <span class="aChallenge">
      <i class="fa fa-pencil"></i>Design Metaphors and Fails [10]
    </span>
    <span class="aChallenge">
      <i class="fa fa-pencil"></i>Feler
      [<span style="display:inline-block;transform:rotate(180deg)">8</span>]
    </span>
  </span>
</div>

<div class="aEvent last">
  <span class="aDay">28</span>
  <span class="aContent">
    <span class="aKap">Kap4:</span>
    <b>Wahrnehmung</b> <br>
    <span class="aChallenge">
      <i class="fa fa-pencil"></i>Psychologische Wahrnehmungstheorien [10]
    </span>
  </span>
</div>

<div class="aMonth">
  <span class="aMonat">April</span>
</div>

<div class="aEvent">
  <span class="aDay">4</span>
  <span class="aContent">
    <span class="aKap">Kap4:</span>
    <b>Gender, Barrierefreiheit</b>
  </span>
</div>

<div class="aEvent last">
  <span class="aDay">25</span>
  <span class="aContent">
    <span class="aKap">Kap1:</span>
    <b>Design rules and the user-centred design process</b>
    <span class="aChallenge">
      <i class="fa fa-pencil"></i>Conceptual Models [14]
    </span>
  </span>
</div>

<div class="aMonth">
  <span class="aMonat">Mai</span>
</div>

<div class="aEvent">
  <span class="aDay">2</span>
  <span class="aContent">
    <span class="aKap">Kap 1</span>
    <span class="aChallenge">
      <i class="fa fa-pencil"></i>Simplify [13]
    </span>
    + Kap2:
    <b>Understanding the user, gathering requirements</b>
  </span>
</div>

<div class="aEvent">
  <span class="aDay">9</span>
  <span class="aContent">
    <span class="aKap">Kap2:</span>
    <b>Understanding the user, gathering requirements</b>
    <span class="aChallenge">
      <i class="fa fa-pencil"></i>Cultural Probes [18]
    </span>
  </span>
</div>

<div class="aEvent">
  <span class="aDay">16</span>
  <span class="aContent">
    <span class="aKap">Ausgefallen</span>
    <span class="aChallenge">
      <i class="fa fa-pencil"></i>Kap2: Persona &amp; Szenario [18]
    </span>
  </span>
</div>

<div class="aEvent">
  <span class="aDay">23</span>
  <span class="aContent">
    <span class="aKap"></span>
    <b>Prototyping &amp; Ubicomp</b>
    <span class="aChallenge">
      <i class="fa fa-pencil"></i>Kap2: Design w. Intent [13]
    </span>
    <span class="aChallenge">
      <i class="fa fa-pencil"></i>Kap3: Prototyping [18]
    </span>
    <span class="aChallenge">
      <i class="fa fa-pencil"></i>Kap3: Ubicomp [19]
    </span>
  </span>
</div>

<div class="aEvent">
  <span class="aDay">30</span>
  <span class="aContent">
    <span class="aKap"></span>
    <b>Evaluation</b>
    <span class="aChallenge">
      <i class="fa fa-pencil"></i>Kap4: Thinking out loud [13]
    </span><br>
    <span class="aChallenge">
      <i class="fa fa-pencil"></i>Kap4: Interviews [13]
    </span>
  </span>
</div>

<div class="aMonth">
  <span class="aMonat">Juni</span>
</div>

<div class="aEvent last">
  <span class="aDay">13</span>
  <span class="aContent">Zusammenfassung, Ausblick</span>
</div>

<div class="aEvent last">
  <span class="aDay">20</span>
  <span class="aContent">Reservetermin</span>
</div>

<div class="calExplain">
  Die <i class="fa fa-pencil"></i>Challenges werden jeweils im Laufe der Woche
  nach der jeweiligen Vorlesung freigeschalten. Die Zahl in eckigen Klammern
  gibt die geplante Punktezahl an und können eventuell leicht abweichen.
</div>

