
<div class="aMonth">
  <span class="aMonat">Oktober</span>
</div>

<div class="aEvent">
  <span class="aDay">17</span>
  <span class="aContent">
    <b>Kick-Off</b><br>
  </span>
</div>

<div class="aEvent">
  <span class="aDay">23</span>
  <span class="aContent">
    <b>Querschnittsthema Geschichte</b>
  </span>
</div>

<div class="aEvent last">
  <span class="aDay">24</span>
  <span class="aContent">
    <b>Pre-scientific thinking</b>
  </span>
</div>


<div class="aMonth">
  <span class="aMonat">November</span>
</div>

<div class="aEvent ">
  <span class="aDay">6</span>
  <span class="aContent">
    <b>Scientific thinking</b><br>
  </span>
</div>

<div class="aEvent ">
  <span class="aDay">7</span>
  <span class="aContent">
    <b>Scientific thinking</b><br>
    <span class="aChallenge">
      <i class="fa fa-pencil"></i>Einstiegschallenge
    </span>
  </span>
</div>

<div class="aEvent ">
  <span class="aDay">13</span>
  <span class="aContent">
    <b>Mathematical thinking</b><br>
    <span class="aChallenge">
      <i class="fa fa-pencil"></i>Scientific Thinking
    </span>
  </span>
</div>

<div class="aEvent ">
  <span class="aDay">14</span>
  <span class="aContent">
    <b>Computational thinking</b><br>
  </span>
</div>

<div class="aEvent ">
  <span class="aDay">20</span>
  <span class="aContent">
    <b>Computational thinking</b><br>
    <span class="aChallenge">
      <i class="fa fa-pencil"></i>Computational thinking
    </span>
  </span>
</div>

<div class="aEvent ">
  <span class="aDay">21</span>
  <span class="aContent">
    <b>Computational thinking/design thinking</b><br>
  </span>
</div>

<div class="aEvent ">
  <span class="aDay">27</span>
  <span class="aContent">
    <b>Design thinking</b><br>
  </span>
</div>

<div class="aEvent last">
  <span class="aDay">28</span>
  <span class="aContent">
    <b>Design thinking</b><br>
    <span class="aChallenge">
      <i class="fa fa-pencil"></i>Design thinking
    </span>
  </span>
</div>

<div class="aMonth">
  <span class="aMonat">Dezember</span>
</div>

<div class="aEvent ">
  <span class="aDay">4</span>
  <span class="aContent">
    <b>Creative thinking</b><br>
  </span>
</div>

<div class="aEvent ">
  <span class="aDay">5</span>
  <span class="aContent">
    <b>Critical thinking</b><br>
    <span class="aChallenge">
      <i class="fa fa-pencil"></i>Creative thinking
    </span>
  </span>
</div>

<div class="aEvent ">
  <span class="aDay">11</span>
  <span class="aContent">
    <b>Critical thinking</b><br>
    <span class="aChallenge">
      <i class="fa fa-pencil"></i>Critical thinking
    </span>
  </span>
</div>

<div class="aEvent ">
  <span class="aDay">12</span>
  <span class="aContent">
    <b>Diversity</b><br>
  </span>
</div>

<div class="aEvent ">
  <span class="aDay">18</span>
  <span class="aContent">
    <b>Responsible thinking</b><br>
    <span class="aChallenge">
      <i class="fa fa-pencil"></i>Responsible thinking
    </span>
  </span>
</div>

<div class="aEvent last">
  <span class="aDay">19</span>
  <span class="aContent">
    <b>Economical thinking</b><br>
  </span>
</div>

<div class="aMonth">
  <span class="aMonat">Jänner</span>
</div>

<div class="aEvent ">
  <span class="aDay">8</span>
  <span class="aContent">
    <b>Criminal thinking</b><br>
  </span>
</div>


<div class="aEvent">
  <span class="aDay">9</span>
  <span class="aContent">
    <b>Criminal thinking</b>
  </span>
</div>

<div class="aEvent">
  <span class="aDay">15</span>
  <span class="aContent">
    <b>Computers in society</b>
  </span>
</div>

<div class="aEvent last">
  <span class="aDay">23</span>
  <span class="aContent">
    <b>Finale</b>
  </span>
</div>


<div class="calExplain last">
  Die <i class="fa fa-pencil"></i>Challenges werden jeweils im Laufe der Woche
  nach der jeweiligen Vorlesung freigeschalten. Pro Kaptitel wird es mindestens 
  zwei unterschiedliche Challenges geben, von denen Sie eine aussuchen können. 
</div>
<br><br>

