
<div class="aMonth">
  <span class="aMonat">März</span>
</div>

<div class="aEvent">
  <span class="aDay">8</span>
  <span class="aContent">
    <b>Kick-Off, Geschichte</b><br>
    <span class="aChallenge">
      <i class="fa fa-pencil"></i>Einführungschallenge
    </span>
  </span>
</div>

<div class="aEvent">
  <span class="aDay">15</span>
  <span class="aContent">
    <b>Pre-scientific thinking</b>
  </span>
</div>

<div class="aEvent">
  <span class="aDay">22</span>
  <span class="aContent">
    <b>Computers in Society</b>
  </span>
</div>

<div class="aEvent last">
  <span class="aDay">29</span>
  <span class="aContent">
    <b>Scientific thinking</b><br>
    <span class="aChallenge">
      <i class="fa fa-pencil"></i>Paradigmen [12]
    </span>
    <span class="aChallenge">
      <i class="fa fa-pencil"></i>Korrelation/Kausalität [8]
    </span>
  </span>
</div>

<div class="aMonth">
  <span class="aMonat">April</span>
</div>

<div class="aEvent">
  <span class="aDay">5</span>
  <span class="aContent">
    <b>Mathematical thinking</b>
  </span>
</div>

<div class="aEvent last">
  <span class="aDay">26</span>
  <span class="aContent">
    <b>Computational thinking </b><br>
    <span class="aChallenge">
      <i class="fa fa-pencil"></i>Play a game [8]
    </span>
    <span class="aChallenge">
      <i class="fa fa-pencil"></i>Make a Challenge [12]
    </span>
  </span>
</div>

<div class="aMonth">
  <span class="aMonat">Mai</span>
</div>

<div class="aEvent">
  <span class="aDay">3</span>
  <span class="aContent">
    <b>Design thinking</b>
  </span>
</div>

<div class="aEvent">
  <span class="aDay">10</span>
  <span class="aContent">
    <b>Design thinking</b><br>
    <span class="aChallenge">
      <i class="fa fa-pencil"></i>Design Thinking Tryout [8]
    </span>
    <span class="aChallenge">
      <i class="fa fa-pencil"></i>»Design Thinking« vs »Design« [14]
    </span>
  </span>
</div>

<div class="aEvent">
  <span class="aDay">17</span>
  <span class="aContent">
    <b>Creative thinking</b><br>
    <span class="aChallenge">
      <i class="fa fa-pencil"></i>Über Kreativität [8]
    </span>
    <span class="aChallenge">
      <i class="fa fa-pencil"></i>Kreativitätstechniken [12]
    </span>
  </span>
</div>

<div class="aEvent">
  <span class="aDay">24</span>
  <span class="aContent">
    <b>Critical thinking</b><br>
    <span class="aChallenge">
      <i class="fa fa-pencil"></i>Logical Fallacies [8]
    </span>
    <span class="aChallenge">
      <i class="fa fa-pencil"></i>Bias Busters Game [14]
    </span>
  </span>
</div>

<div class="aEvent last">
  <span class="aDay">31</span>
  <span class="aContent">
    <b>Responsible thinking</b><br>
    <span class="aChallenge">
      <i class="fa fa-pencil"></i>TBD [8]
    </span>
    <span class="aChallenge">
      <i class="fa fa-pencil"></i>TBD [12]
    </span>
  </span>
</div>

<div class="aMonth"><span class="aMonat">Juni</span></div>

<div class="aEvent">
  <span class="aDay">7</span>
  <span class="aContent">
    <b>Criminal thinking</b>
  </span>
</div>

<div class="aEvent">
  <span class="aDay">21</span>
  <span class="aMonat"></span>
  <span class="aContent">
    <b>Computers in Society</b>
  </span>
</div>

<div class="aEvent last">
  <span class="aDay">28</span>
  <span class="aMonat"></span>
  <span class="aContent">
    <b>Zusammenfassung, Ausblick</b>
  </span>
</div>

<div class="calExplain">
  Die <i class="fa fa-pencil"></i>Challenges werden jeweils im Laufe der Woche
  nach der jeweiligen Vorlesung freigeschalten. Die Zahl in eckigen Klammern
  gibt die geplante Punktezahl an und können eventuell leicht abweichen. Jedes
  Thema mit Challenges entspricht jeweils einem Kapitel
</div>
