{% extends "base.html" %}

{% block additional_headers %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/masonry.pkgd.min.js"></script>
{% endblock %}


{% block content %}
    {% include 'feed.html' %}

    <div id="info_column">
        {% if not user.is_staff %}
		<div class="sidebar_item">
            <div class="feed_header"  id="part_0"><i class="fa fa-minus-square half"></i> <b>Your work</b></div>
			<div class="feed_column"  id="content_part_0">
            	{% include 'points.html' %}
          		{% include 'public_stats.html' %}
			</div>
		</div>
		{% else %}
		<div class="sidebar_item">
            <div class="feed_header"  id="part_0"><i class="fa fa-minus-square half"></i> <b>Your work</b></div>
			<div class="feed_column"  id="content_part_0">
            	{% include 'admin_points.html' %}
				{% include 'public_stats.html' %}
			</div>
		</div>
        {% endif %}

    {% if user_is_top_reviewer %}
      <div class="sidebar_item">
        <div class="feed_header"  id="part_5">
          <i class="fa fa-minus-square half"></i> <b>Extra Reviews</b>
        </div>
		{% comment %}
        <div class="feed_column"  id="content_part_5">
          {% include 'extra_reviews.html' %}
  		</div>
		{% endcomment %}
      </div>
    {% endif %}

		{% if user.is_staff %}
		<div class="sidebar_item">
	        <div class="feed_header" id="part_X">
				<i class="fa fa-minus-square half"></i> <b>LVA-Team Ressources </b>
			</div>
	        <div class="feed_column" id="content_part_X">
				<p><i style="color:gray" class="fa fa-arrow-right"></i> <a target="_blank" href="https://auri1-gsi.pbworks.com/w/page/77253689/FrontPage">Aurora Wiki</a><br>
				<i style="color:gray" class="fa fa-arrow-right"></i> TUWEL <a target="_blank" href="https://tuwel.tuwien.ac.at/course/view.php?id=5575">gsi</a> <a target="_blank" href="https://tuwel.tuwien.ac.at/course/view.php?id=5581">bhci</a><br><br>
				<i style="color:gray" class="fa fa-arrow-right"></i> <a href="/admin">django admin</a><br><br>
			</div>
		</div>
		{%  endif %}
		<div class="sidebar_item">
	        <div class="feed_header" id="part_1">
				<i class="fa fa-minus-square half"></i> <b>General Information </b>
			</div>
	        <div class="feed_column" id="content_part_1">
				<p>Alle wesentlichen Informationen über die <b>Leistungsanforderungen, Notenermittlung,</b> Arbeiten in Aurora, Schreiben von Reviews, Zitieren etc. finden Sie in <a href="http://igw.tuwien.ac.at/designlehren/aurora/aurora.pdf">Arbeiten in Aurora</a> (version vom 11.4.2017).</p><br>
				 <p>Der  <a href="http://igw.tuwien.ac.at/aurora/plagiatsleitfaden.pdf">Plagiatsleitfaden der TU Wien erklärt ausführlich, was Plagiate sind. </a></p><br>
		        <p>Hinweis: Diese Seite wird mit Mozilla- und Webkit-Browsern <b>(Firefox, Safari, Chrome)</b> entwickelt und getestet. Bitte verwenden sie Aurora mit einem dieser Browser. F&uuml;r alle anderen Browser &uuml;bernehmen wir keine Garantie. Melden Sie eventuelle Probleme auf unterstützten Browsern gegebenenfalls im &raquo;Bugs&amp;Feedback&laquo;-Bereich.</p><br>
		        <p><b>Support:</b></p>
		        <br>
				<p>Wenn sie Probleme haben, sich nicht auskennen oder Hilfe ben&ouml;tigen, so stehen ihnen folgende Informationsquellen zur Verf&uuml;gung:</p>
				<br>
				<p>- Lesen sie die Sidebar sorgf&auml;tig. Die Informationen hier werden immer wieder aktualisiert.</p>
				<p>- Wenn sie Fragen zu einem Task haben, dann nutzen sie bitte die M&ouml;glichkeit, bei den Beschreibungen der Tasks mit dem LVA-Team zu diskutieren. </p>
				<p>- Wenn sie mit einem Review oder einer Bewertung nicht zufrieden sind, dann nutzen sie bitte die dort angegliederten Kommentare, um mit uns dar&uuml;ber zu reden.</p>
				<p>- Wenn sie eine andere Frage haben, die im allgemeinen Interesse ist, dann posten sie diese hier im Newsfeed.</p>
				<p>- Sollten sie eine Frage haben, die nur sie betrifft, dann schreiben sie uns bitte eine email:</p><br>
				{% if course.short_title == "gsi" %}
		        <p><i><a href="mailto:gsi@igw.tuwien.ac.at">gsi@igw.tuwien.ac.at</a></i></p>
				{% else %}
		        <p><i><a href="mailto:bhci@igw.tuwien.ac.at">bhci@igw.tuwien.ac.at</a></i></p>
				{% endif %}<br>
				<p>- Sie können auch in die LVA-Sprechstunde kommen: Mi 10-12h, Michael Urbanek, Argentinierstr. 8, 2. Stock, Mitte.
		        <br><br>
		        <p><b>Video-Stream:</b></p>
		        <br>
		        <p>Während der Vorlesungszeit steht ein Video-Stream zur Verfügung, mit dem Sie die Vorlesung remote verfolgen können: <br><br>
					{% if course.short_title == "gsi" %}
					&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-double-right"></i><a href="https://tuwel.tuwien.ac.at/mod/rssplayer/view.php?id=363094">GSI live stream</a></p><br>
					{% else %}
					&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-double-right"></i><a href="https://tuwel.tuwien.ac.at/mod/rssplayer/view.php?id=363079">BHCI live stream</a></p><br>
					{% endif %}
				<p>Ausserdem zeichnen wir diese Streams auf; Sie finden die Aufzeichnungen in tuwel. Beachten Sie bitte, dass man dazu physisch oder zumindest logisch (VPN oder so) im Netz der TU sein muss!</p>
		        <br>

			</div>
		</div>
		<div class="sidebar_item">
	        <div class="feed_header" id="part_2">
				<i class="fa fa-minus-square half"></i> <b>Frequently Asked Questions</b>
			</div>
	        <div class="feed_column" id="content_part_2">
	            {% include "faq.html" %}
			</div>
		</div>
		<div class="sidebar_item">
	        <div class="feed_header" id="part_3">
				<i class="fa fa-minus-square half"></i> <b>Lecture dates
				{% if course.short_title == "hci" %}
				BHCI
				{% else %}
				GSI
				{% endif %}
				</b>
			</div>
	        <div class="feed_column" id="content_part_3">

				{% comment %}

				<table width="100%">
				{% if course.short_title == "gsi" %}
					<tr bgcolor="#EEE"><td width="10%">M&auml;rz</td>
						<td width="17%" align="right"></td>
						<td width="17%" align="right">8</td>
						<td width="17%" align="right">15</td>
						<td width="17%" align="right">22</td>
						<td width="18%" align="right">29</td>
						<td witdh="2%"></td></tr>
					<tr><td>April</td>
						<td></td>
						<td align="right">5</td>
						<td align="right" style="color:silver">12</td>
						<td align="right" style="color:silver">19</td>
						<td align="right">26</td>
						<td witdh="2%"></td></tr>
					<tr bgcolor="#EEE"><td>Mai</td>
						<td align="right">3</td>
						<td align="right">10</td>
						<td align="right">17</td>
						<td align="right">24</td>
						<td align="right">31</td>
						<td witdh="2%"></td></tr>
					<tr><td>Juni</td>
						<td></td>
						<td align="right">7</td>
						<td align="right">14</td>
						<td align="right">21</td>
						<td align="right">28</td>
						<td witdh="2%"></td></tr>
				{% else %}
					<tr bgcolor="#EEE"><td width="10%">M&auml;rz</td>
						<td width="17%" align="right"></td>
						<td width="17%" align="right" style="color:silver">7</td>
						<td width="17%" align="right">14</td>
						<td width="17%" align="right">21</td>
						<td width="17%" align="right">28</td>
					<tr><td>April</td>
						<td></td>
						<td align="right">4</td>
						<td align="right" style="color:silver">11</td>
						<td align="right" style="color:silver">18</td>
						<td align="right">25</td></tr>
					<tr bgcolor="#EEE"><td>Mai</td>
						<td align="right">2</td>
						<td align="right">9</td>
						<td align="right">16</td>
						<td align="right">23</td>
						<td align="right">30</td>
					<tr><td>Juni</td>
						<td width="17%" align="right"></td>
						<td align="right">6</td>
						<td align="right">13</td>
						<td align="right" style="color:gray">20</td>
						<td align="right" style="color:silver">27</td>
						<td witdh="2%"></td></tr>
				{% endif %}
				</table>
				<br>
				<span class="maybe" style="font-size:90%">* diese termine sind als reserve geplant. nach momentanen planungsstand findet da keine vorlesung statt. </span>
				<br>
				
				{% endcomment %}
				{% if course.short_title == "hci" %}
				
			<div class="aEvent"><span class="aDay">7</span><span class="aMonat">März</span>
				<span class="aContent">Kick-Off
					<span class="aChallenge"><i class="fa fa-pencil-square"></i>Einführungschallenge</span></span></span></span></div>
				
			<div class="aEvent"><span class="aDay">14</span>
				<span class="aContent">Designing with the user in mind: an intro to HC 
					<span class="aChallenge"><i class="fa fa-pencil-square"></i>Interaktionsdesign: Berufsbilder</span></span></div>
				
			<div class="aEvent"><span class="aDay">21</span>
				<span class="aContent">&#3232;_&#3232;
					<span class="aChallenge"><i class="fa fa-pencil-square"></i>Design Metaphors and Fails </span>
					<span class="aChallenge"><i class="fa fa-pencil-square"></i>Feler</span></span></div>
				
			<div class="aEvent"><span class="aDay">28</span>
				<span class="aContent">Wahrnehmung 
					<span class="aChallenge"><i class="fa fa-pencil-square"></i>Psychologische Wahrnehmungstheorien</span></span></div>
				
			<div class="aEvent"><span class="aDay">4</span><span class="aMonat">April</span>
				<span class="aContent">Gender, Barrierefreiheit</span></div>
				
			<div class="aEvent"><span class="aDay">25</span>
				<span class="aContent">Design rules and the user-centred design process 
					<span class="aChallenge"><i class="fa fa-pencil-square"></i>Conceptual Models</span></span></div>
				
			<div class="aEvent"><span class="aDay">2</span><span class="aMonat">Mai</span>
				<span class="aContent">Understanding the user, gathering requirements 
					<span class="aChallenge"><i class="fa fa-pencil-square"></i>Cultural Probes</span></span></div>
				
			<div class="aEvent"><span class="aDay">9</span>
				<span class="aContent">Prototyping 
					<span class="aChallenge"><i class="fa fa-pencil-square"></i>Persona und Szenario</span> 
					<span class="aChallenge"><i class="fa fa-pencil-square"></i>Design with Intent</span></span></div>
				
			<div class="aEvent"><span class="aDay">16</span>
				<span class="aContent">Prototyping continued und Ubicomp 
					<span class="aChallenge"><i class="fa fa-pencil-square"></i>Prototyping</span></span></div>
				
			<div class="aEvent"><span class="aDay">23</span>
				<span class="aContent">Ubicomp
					<span class="aChallenge"><i class="fa fa-pencil-square"></i>Ubicomp/Beyond the Desktop</span></span></div>
				
			<div class="aEvent"><span class="aDay">30</span>
				<span class="aContent">Evaluation
					<span class="aChallenge"><i class="fa fa-pencil-square"></i>Thinking out loud </span>
					<span class="aChallenge"><i class="fa fa-pencil-square"></i>Interviews</span></span></div>
				
			<div class="aEvent"><span class="aDay">13</span><span class="aMonat">Juni</span>
				<span class="aContent">Zusammenfassung, Ausblick</span></div>

			<div class="calExplain">Die Challenges werden jeweils im Laufe der Woche nach der jeweiligen Vorlesung freigeschalten.</div>



				{% else %}



				
			<div class="aEvent"><span class="aDay">8</span><span class="aMonat">März</span>
				<span class="aContent">Kick-Off, Geschichte
					<span class="aChallenge"><i class="fa fa-pencil-square"></i>Einführungschallenge</span></span></span></span></div>
				
			<div class="aEvent"><span class="aDay">15</span>
				<span class="aContent">Pre-scientific thinking </span></div>
				
			<div class="aEvent"><span class="aDay">22</span>
				<span class="aContent">Computers in Society </span></div>
				
			<div class="aEvent"><span class="aDay">29</span>
				<span class="aContent">Scientific thinking
					<span class="aChallenge"><i class="fa fa-pencil-square"></i>Paradigmen [12]</span> 
					<span class="aChallenge"><i class="fa fa-pencil-square"></i>Korrelation/Kausalität [8]</span></span></div>
				
			<div class="aEvent"><span class="aDay">5</span><span class="aMonat">April</span>
				<span class="aContent">Mathematical thinking </span></div>
				
			<div class="aEvent"><span class="aDay">26</span>
				<span class="aContent">Computational thinking 
					<span class="aChallenge"><i class="fa fa-pencil-square"></i>TBD [8]</span> 
					<span class="aChallenge"><i class="fa fa-pencil-square"></i>TBD [12]</span></span></div>
				
			<div class="aEvent"><span class="aDay">3</span><span class="aMonat">Mai</span>
				<span class="aContent">Design thinking </span></div>
				
			<div class="aEvent"><span class="aDay">10</span>
				<span class="aContent">Design thinking 
					<span class="aChallenge"><i class="fa fa-pencil-square"></i>TBD [8]</span> 
					<span class="aChallenge"><i class="fa fa-pencil-square"></i>TBD [12]</span></span></div>
				
			<div class="aEvent"><span class="aDay">17</span>
				<span class="aContent">Creative thinking 
					<span class="aChallenge"><i class="fa fa-pencil-square"></i>TBD [8]</span> 
					<span class="aChallenge"><i class="fa fa-pencil-square"></i>TBD [12]</span></span></div>
				
			<div class="aEvent"><span class="aDay">24</span>
				<span class="aContent">Critical thinking 
					<span class="aChallenge"><i class="fa fa-pencil-square"></i>TBD [8]</span> 
					<span class="aChallenge"><i class="fa fa-pencil-square"></i>TBD [12]</span></span></div>
				
			<div class="aEvent"><span class="aDay">31</span>
				<span class="aContent">Responsible thinking 
					<span class="aChallenge"><i class="fa fa-pencil-square"></i>TBD [8]</span> 
					<span class="aChallenge"><i class="fa fa-pencil-square"></i>TBD [12]</span></span></div>
				
			<div class="aEvent"><span class="aDay">7</span><span class="aMonat">Juni</span>
				<span class="aContent">Criminal thinking </span></span></div>
				
			<div class="aEvent"><span class="aDay">21</span><span class="aMonat"></span>
				<span class="aContent">Computers in Society </span></span></div>

			<div class="aEvent"><span class="aDay">28</span><span class="aMonat"></span>
				<span class="aContent">Zusammenfassung, Ausblick</span></span></div>

			<div class="calExplain">Die Challenges werden jeweils im Laufe der Woche nach der jeweiligen Vorlesung freigeschalten.</div>
				{% endif %}
			</div>
		</div>
		<br><br><br><br><br>
    </div>

{% endblock %}
