{% extends "base.html" %}

{% load aurora_course %}
{% load staticfiles %}
{% load comments_xtd %}

{% block additional_headers %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/masonry.pkgd.min.js"></script>
  <script type="text/javascript" src="{% static "js/chat.js" %}"></script>
{% endblock %}


{% block content %}
  {% include 'feed.html' %}
  <div id="info_column">
{% comment %}
    {% if not user.is_staff %}
      <div class="sidebar_item general_item">
        <div class="feed_header"  id="part_0">
          <i class="fa fa-angle-up fa-2x half"></i>
          <b>Your work</b>
        </div>
        <div class="feed_column"  id="content_part_0">
          »Your work« wurde aus performancetechnischen Gründen auf eine eigene
          Seite verschoben. Klicken Sie auf <a href="work">»Your Work«</a> in der
          Navigation.
          <br><br>
        </div>
      </div>
    {% else %}
      <div class="sidebar_item general_item">
        <div class="feed_header"  id="part_0">
          <i class="fa fa-angle-up fa-2x half"></i>
          <b>Your work</b>
        </div>
        <div class="feed_column"  id="content_part_0">
        </div>
      </div>
    {% endif %}
{% endcomment %}
    {% if user.is_staff %}
      <div class="sidebar_item general_item">
        <div class="feed_header" id="part_X">
          <i class="fa fa-angle-up half fa-2x"></i>
          <b>LVA-Team Ressources </b>
        </div>
        <div class="feed_column" id="content_part_X">
          <p>
{% comment %}		    
            <i style="color:gray" class="fa fa-arrow-right"></i>
            <a target="_blank" href="https://auri1-gsi.pbworks.com/w/page/77253689/FrontPage">Aurora Wiki</a><br>
{% endcomment %}
            <i style="color:gray" class="fa fa-arrow-right"></i>
            TUWEL
            {% for a_course in all_courses %}
              {% course_tuwel_link a_course %}
            {% endfor %}
            <br><br>
            <i style="color:gray" class="fa fa-arrow-right"></i>
            <a href="/admin">django admin</a><br><br>
          </p>
        </div>
      </div>
    {%  endif %}
    <div class="sidebar_item  general_item">
      <div class="feed_header" id="part_1">
        <i class="fa fa-angle-up fa-2x half"></i>
        <b>General Information {{course_title}}
</b>
      </div>
      <div class="feed_column" id="content_part_1">
        <p>
          Alle Informationen über die <b>Leistungsanforderungen,
          Notenermittlung,</b> Arbeiten in Aurora, Schreiben von Reviews,
          Zitieren etc. finden Sie in
          <a href="http://igw.tuwien.ac.at/designlehren/aurora/aurora.pdf">
          Arbeiten in Aurora</a> (version vom 27.10.2017).
        </p>
        <p>
          Der
          <a href="http://igw.tuwien.ac.at/aurora/plagiatsleitfaden.pdf">Plagiatsleitfaden
          der TU Wien</a> erklärt ausführlich, was Plagiate sind. 
        </p>
        <p>
          Hinweis: Diese Seite wird mit Mozilla- und Webkit-Browsern
          <b>(Firefox, Safari, Chrome)</b> entwickelt und getestet. Bitte
          verwenden sie Aurora mit einem dieser Browser. F&uuml;r alle anderen
          Browser &uuml;bernehmen wir keine Garantie. Melden Sie eventuelle
          Probleme auf unterstützten Browsern gegebenenfalls im
          &raquo;Bugs&amp;Feedback&laquo;-Bereich.
        </p>
       <p class="content_subheader">
          Support
        </p>
        <p>
          Wenn sie Probleme haben, sich nicht auskennen oder Hilfe
          ben&ouml;tigen, so stehen ihnen folgende Informationsquellen zur
          Verf&uuml;gung:
        </p>
        <p>
          <i style="color:gray" class="fa fa-arrow-right"></i> Lesen sie die Sidebar sorgf&auml;tig. Die Informationen hier werden
          immer wieder aktualisiert.
        </p>
        <p>
          <i style="color:gray" class="fa fa-arrow-right"></i> Wenn sie Fragen zu einem Task haben, dann nutzen sie bitte die
          M&ouml;glichkeit, bei den Beschreibungen der Tasks mit dem LVA-Team
          zu diskutieren.
        </p>
        <p>
          <i style="color:gray" class="fa fa-arrow-right"></i> Wenn sie mit einem Review oder einer Bewertung nicht zufrieden
          sind, dann nutzen sie bitte die dort angegliederten Kommentare, um
          mit uns dar&uuml;ber zu reden.
        </p>
        <p>
          <i style="color:gray" class="fa fa-arrow-right"></i> Wir versenden jede Woche einen Newsletter. Lesen Sie die letzten Ausgaben , um zu sehen, 
	    ob Ihre Frage dort beantwortet ist. 
        </p>
        <p>
          <i style="color:gray" class="fa fa-arrow-right"></i> Sollten sie eine Frage haben, die nur sie betrifft, dann schreiben
          sie uns bitte eine email:
        </p>
        <p>
          <i>
            {% course_mailto_link course %}
          </i>
        </p>
        <p>
          - Sie können auch in die LVA-Sprechstunde kommen: Mi 10-12h, Michael
          Urbanek, Argentinierstr. 8, 2. Stock, Mitte.
  {% comment %}           <br><br> {% endcomment %}
        </p>
       <p class="content_subheader">
          Video-Stream
        </p>
        <p>
          Während der Vorlesungszeit steht ein Video-Stream zur Verfügung,
          mit dem Sie die Vorlesung remote verfolgen können:
          <p><i style="color:gray" class="fa fa-arrow-right"></i>
          {% course_stream_link course %}</p>
        <p>
          Ausserdem zeichnen wir diese Streams auf; Sie finden die
          Aufzeichnungen in <a href="tuwel.tuwien.ac.at">tuwel</a>. Beachten Sie bitte, dass man dazu physisch
          oder zumindest logisch (VPN oder so) im Netz der TU sein muss!
        </p><br>
      </div>
    </div>
    <div class="sidebar_item">
      <div class="feed_header" id="part_2">
        <i class="fa fa-angle-up fa-2x half"></i>
        <b>Frequently Asked Questions</b>
      </div>
      <div class="feed_column" id="content_part_2">
        {% include "faq.html" %}
      </div>
    </div>
    <div class="sidebar_item">
      <div class="feed_header" id="part_3">
        <i class="fa fa-angle-up fa-2x half"></i>
        <b>Course plan {{ course.short_title|upper }}</b>
      </div>
      <div class="feed_column" id="content_part_3">
        {% include_course_feed course %}
      </div>
    </div>
    <br><br><br><br><br>
  </div>
  
  <div id="smalltalk_header">
	<div>
	      <div id="popup_chat" class="fake_feed_header" id="smalltalk">
	        <i class="fa fa-angle-up fa-2x half"></i>
	        <b>Smalltalk</b> <span id="chat_activity"></span>
	      </div>
	</div>
  </div>
  <div id="small_talk">
    {% if not DEV_FRONTEND %}
      <div id="chat-root"></div>
      <script type="text/javascript" src={% static "chat/js/main.6fe82710.js" %}></script>
    {% else %}
      <iframe frameborder="0" src="http://localhost:3000" height="100%" width="580"></iframe>
    {% endif %}
    </div>
  </div>
{% endblock %}
