{% extends "base.html" %}

{% block additional_headers %}
<title>write review</title>
<link rel="stylesheet" href="{{ STATIC_URL }}css/review.css" type="text/css" media="screen"/>
<script type="text/javascript" src="{{ STATIC_URL }}tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}tinymce/jquery.tinymce.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/review.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}lightbox/css/lightbox.css" type="text/css" media="screen"/>
{% endblock %}

{% block content %}

<script type="text/javascript">
  var REVIEW_ANSWER_URL = "{% url 'Review:review_answer' course_short_title=course.short_title %}";
  var STACK_URL = "{% url 'Challenge:stack' course_short_title=course.short_title %}";
</script>

<div id="detail_area">

{% load render_uploads %}

{% if review %}
  <script>
    var stack_id = {{ stack_id }};
  </script>
  <div class="review" id="{{ review.id }}">
    <div class="challenge" id="{{ review.elaboration.challenge.id }}">

      <div class="title">
        {{ review.elaboration.challenge.title|safe }}
      </div>
      <div class="description">
        {{ review.elaboration.challenge.description|safe|urlizetrunc:25 }}
      </div>
    </div>

    {% render_original_uploads review.elaboration %}

    <div class="elaboration submitted-content">
      <textarea id="review-editor" class="trix-content" style="display: none;">{{ review.elaboration.elaboration_text }}</textarea>
      <trix-editor class="trix-content" input="review-editor"></trix-editor>
    </div>

	<div class="betweentext"><i class="fa fa-arrow-right"></i> <b>Before you start reviewing, please read
		<a href="http://igw.tuwien.ac.at/aurora/aurora_reviews.pdf" style="color:yellow">About Reviewing</a>.
		Then, carefully examine the work shown above and answer the following questions:</b> </div>
    <form>
      {% for question in author_questions %}
        {% include "question.html" %}
      {% endfor %}

      <h1>&nbsp;<i class="fa fa-info-circle"></i> Only the course team will be able to see this answers to the following questions questions</h1>
      {% for question in staff_questions %}
        {% include "question.html" %}
      {% endfor %}

     	<div class="question">Your final verdict </div>
  	  <div class="answer">
      	<input type="radio" name="appraisal" value="A" id="apprA"> <label for="apprA">Exceptional <span class="explanation">Please explain in field &raquo;Anmerkung für LVA-Team&laquo;.</span></label><br>
      	<input type="radio" name="appraisal" value="S" id="apprS"> <label for="apprS">All requirements met <span class="explanation">The Author took the task serious and delivered acceptable work.</span></label><br>
      	<input type="radio" name="appraisal" value="F" id="apprF"> <label for="apprF">Requirements missed<span class="explanation">The Author missed the point, or a substantial part is missing.</span></label><br>
      	<input type="radio" name="appraisal" value="N" id="apprN"> <label for="apprN">Plagiarism, cheated or empty <span class="explanation">The Author handed in somebody else's work, or (more or less) nothing at all.</span></label><br><br>
  	  </div>
	    <div class="suButton">
    	  <input id="submit_button" class="button submitButton XL" style="padding-left:0.5em;" type="submit" value="Submit">
    </div>
    </form>
  </div>
{% else %}
 <br><br> &nbsp; &nbsp; &nbsp; &nbsp; Sorry, there are currently no elaborations available for review. Please try again later.
{% endif %}
</div>
{% endblock %}
