{% load staticfiles %}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
  <title>Feedback | Aurora</title>
  <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico"
        type="image/x-icon">
  <link rel="icon" href="{{ STATIC_URL }}img/favicon.ico" type="image/x-icon">
  <script type="text/javascript"
          src="{{ STATIC_URL }}js/jquery-2.0.3.js"></script>
  <script type="text/javascript"
          src="{{ STATIC_URL }}js/autogrow.min.js"></script>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" type="text/css"
        media="screen" />
  <link rel="stylesheet"
        href="{{ STATIC_URL }}css/ui-lightness/jquery-ui-1.10.3.custom.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}trix/trix.css">
  <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
  <link rel="stylesheet" type="text/css"
        href="{% static 'css/feedback_base.css' %}" />


  <script type="text/javascript">
    var course_short_title = "{{ course.short_title }}";
    var NOTIFICATION_REFRESH_URL = "{% url 'Notification:refresh' course.short_title %}";
  </script>
</head>
<body>
<div class="feedback__head">
  <h1>Aurora Feedback - {{ course.short_title }}</h1>
  <nav>
    <ul>
        <li class="navigate--discourse"><a href="https://piratenpad.de/p/tr4m3bj6">bisheriges feedback-dokument</a>
        </li>
      <li class="navigate--home"><a
          href="/{{ course.short_title }}">Go home</a></li>
    </ul>
  </nav>
</div>

<div>
	da ist das <a href="https://piratenpad.de/p/tr4m3bj6">alte feedback-piratenpad</a>
</div>

{% block content %}
{% endblock content %}
<script>
function hashCode(s) {
	return s.split("").reduce(function(a,b){a=((a<<5)-a)+b.charCodeAt(0);return a&a},0);
}

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

function markNewItems() {
	var aList = [];
	fCookie = getCookie('issueCookie.{{user.nickname}}');
	if (fCookie == null) fCookie = "";
	iCookie = fCookie.split(',');
	$('.issue-list__item').each(function() {
		thisCode = hashCode($(this).find('.issue--teaser__body').text() + $(this).find('.issue--teaser__footer').text()) + "";
		if ($.inArray(thisCode, iCookie) == -1) {
			$(this).addClass('markChanged')
		}
		aList[aList.length] = thisCode;
	});
	document.cookie = 'issueCookie.{{user.nickname}}= ' + aList + "; expires=Tue, 18 Jan 2038 03:14:06 GMT";
}

$().ready(setTimeout(function() {
    $('.lane').each(function() {
        $(this).css('background-position-x', (Math.floor(Math.random() * 50) + 50) + '%');
    });
	$('.issue__type-label').each(function() {
		if ($(this).text() == "[Bug]")  {
			$(this).html("<i class='fa fa-bug'></i>");
		} else if ($(this).text() == "[Feature Request]")  {
			$(this).html("<i class='fa fa-lightbulb-o'></i>");
		} else if ($(this).text() == "[Feedback]")  {
			$(this).html("<i class='fa fa-commenting-o'></i>");
		} else if ($(this).text() == "[Security]")  {
			$(this).html("<i class='fa fa-lock'></i>");
		}
	});
	$('.lane').last().find('.issue-list__item').addClass('headOnly');
	markNewItems();
},100));


</script>
</body>
</html>



