{% extends "base.html" %}

{% load staticfiles %}
{% block content %}
  <div id="test">
    <span>Loading...</span>
  </div>

  <script type="text/javascript"
          src="{% static 'js/feedback_manifest.js' %}"></script>
  <script type="text/javascript"
          src="{% static 'js/feedback_vendor.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/feedback.js' %}"></script>

  <script id="data" type="application/json">
    {{ data|safe }}
  </script>
  <input value="{% csrf_token %}" id="token" type="hidden" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/feedback.css' %}" />

{% endblock %}