<div class="feedback feedback--success">
  <div class="feedback__content">
    <div class="feedback__close"><i class="fa fa-times-circle" aria-hidden="true"></i></div>
    <div class="feedback__icon"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></div>
    <h1>Thanks a lot for all your Feedback!</h1>
    You can view your feedback <a href="/">here</a>.
  </div>
</div>
<link rel="stylesheet" href="{{ STATIC_URL }}css/feedback.css" type="text/css" media="screen"/>
<script type="text/javascript" src="{{ STATIC_URL }}js/feedback_new.js"></script>