<div class="feedback feedback--new">
  <div class="feedback__content">
    <div class="feedback__close"><i class="fa fa-times-circle" aria-hidden="true"></i></div>
    <form method="POST" action="/{{ course.short_title }}/feedback/new">
      {% csrf_token %}
      <input name="location" class="feedback__location" type="hidden" value="">
      <div class="feedback__form-element feedback__form-element--tabs">
        <ul class="feedback__tabs">
          <li class="feedback__tabs__tab feedback__tabs__tab--active" data-value="bug">
            <i class="fa fa-bug" aria-hidden="true"></i> Bug
          </li>
          <li class="feedback__tabs__tab" data-value="feedback">
            <i class="fa fa-comment" aria-hidden="true"></i> Feedback
          </li>
          <li class="feedback__tabs__tab" data-value="feature_request">
            <i class="fa fa-lightbulb-o" aria-hidden="true"></i> Feature request
          </li>
          <li class="feedback__tabs__tab" data-value="security">
            <i class="fa fa-lock" aria-hidden="true"></i> Security
          </li>
        </ul>
        <select name="category">
          <option value="bug">Bug</option>
          <option value="feedback">Feedback</option>
          <option value="feature_request">Feature request</option>
          <option value="security">Security</option>
        </select>
      </div>
      <div class="feedback__form-element">
        <label for="title">Title</label><span class="feedback__form-element__required">*</span><br/>
        <input name="title" type="text">
        <div class="feedback__form-element__description">Give your feedback a one line title.</div>
      </div>
      <div class="feedback__form-element">
        <label for="description">Description</label><span class="feedback__form-element__required">*</span><br/>
        <textarea name="description" rows="6"></textarea>
        <div class="feedback__form-element__description">Here you can provide a more detailed description.</div>
      </div>
      <div class="feedback__form-element">
        <label for="description">Screenshot</label><br/>
        <input type="file" accept="image/*">
        <div class="feedback__form-element__description">Upload a an optional screenshot.</div>
      </div>
      <div class="feedback__form-element feedback__form-element--submit">
        <input type="submit" value="Submit" />
      </div>
      <div class="feedback__form-element">
        <div class="feedback__form-element__description">* this elements are required</div>
      </div>
    </form>
  </div>
</div>
<link rel="stylesheet" href="{{ STATIC_URL }}css/feedback.css" type="text/css" media="screen"/>
<script type="text/javascript" src="{{ STATIC_URL }}js/feedback_new.js"></script>