import React from 'react';
{{#if addStylesheet}}
import styles from './style.scss';
{{/if}}

class {{ properCase name }} extends React.Component {
  render() {
    return (
{{#if addStylesheet}}
      <div className=\{style.{{ camelCase name }}\}>
{{else}}
      <div>
{{/if}}
      </div>
    );
  }
}

export default {{ properCase name }}