@import "../../styles/config/colors";

.box {
  display: inline-block;
  padding: 1.5em;
  border: 3px solid $light_color;
  cursor: pointer;

  &:hover, &:active, &:focus {
    background: $light_color;
  }
}

:fullscreen {
  color: black;
}