{% extends "base.html" %}

{% block additional_headers %}
<script type="text/javascript" src="{{ STATIC_URL }}diskurs/js/diskurs.js"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}diskurs/css/diskurs.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}diskurs/css/jquery.emojipicker.css">
<script type="text/javascript" src="{{ STATIC_URL }}diskurs/js/jquery.emojipicker.js"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}diskurs/css/jquery.emojipicker.a.css">
<script type="text/javascript" src="{{ STATIC_URL }}diskurs/js/jquery.emojis.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}diskurs/js/readmore.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}diskurs/js/jquery.insert-at-caret.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}diskurs/js/giffer.min.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}lightbox/css/lightbox.css" type="text/css" media="screen"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}diskurs/css/diskurs-override.css" />
<script type="text/javascript">
//<![CDATA[
    var diskurs_preview_url = '{% url 'diskurs:preview_post' course.short_title %}';
//]]>
</script>
{% endblock %}
{% block content %}{% endblock content %}
<script type="text/javascript" src="{{ STATIC_URL }}lightbox/js/lightbox.js"></script>

