<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
<title>{{ thread.title }}</title>
{% load staticfiles %}
<script type="text/javascript" src="{% static 'diskurs/js/jquery-1.11.3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'diskurs/js/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'diskurs/js/diskurs.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'diskurs/css/diskurs.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'diskurs/css/jquery.emojipicker.css' %}">
<script type="text/javascript" src="{% static 'diskurs/js/jquery.emojipicker.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'diskurs/css/jquery.emojipicker.a.css' %}">
<script type="text/javascript" src="{% static 'diskurs/js/jquery.emojipicker.a.js' %}"></script>
<script type="text/javascript" src="{% static 'diskurs/js/readmore.min.js' %}"></script>
<script type="text/javascript" src="{% static 'diskurs/js/jquery.insert-at-caret.min.js' %}"></script>
<script type="text/javascript" src="{% static 'diskurs/js/giffer.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'diskurs/css/diskurs-override.css' %}" />
</head>
<body>
{% block content %}{% endblock content %}
</body>
</html>