@import "../../styles/config/colors";
@import "../../styles/config/layout";
@import "../../styles/abstract/selecting";

.issueTeaser {
  display: block;
  padding: $spacing;
  border-radius: $border-radius;

  cursor: pointer;

  background: white;
  @include element-active {
    background: $gray--lighter;
  }

  color: $color;
  text-decoration: none;
}

.upvotes, .comments {
  margin-right: $spacing--big;
}

.footer {
  margin-top: $spacing;
  color: $gray;
  font-size: 0.9em;
}