{% load tags %}

<div id="post-{{ post.id }}" class="post nolevel {% if post.filtered_post_set.count > 0 %}has_children{% endif %} {% if post.id in expanded_posts %}show_child{% endif %}">

    <a class="arrow_wrapper" href="{% if request.user.is_superuser %}{% url 'diskurs:thread_group_post' course.short_title thread.id thread.filter_group_id post.id %}{% else %}{% url 'diskurs:thread_post' course.short_title thread.id post.id %}{% endif %}" id="show-{{ post.id }}">
        <span class="arrow nicetip right"><span class="tip"></span></span>
    </a>
    <a href="javascript:void" class="new_count"></a>
    <div class="child_post {% if post.id in expanded_posts %}show_child{% endif %} ">
        {% for post in post.filtered_post_set.all %}
            {% include "diskurs/thread/post.html" with post=post thread=thread %}
        {% endfor %}
        <div class="post_reply my_post">
            <div class="container">
                <div class="post_header{%  if user.avatar %} has_avatar{% endif %}">
                    <span class="user">{{ user.display_name }}</span>
                    <span class="votes">{% render_votes_sum 0 %}</span>
                </div>
                {%  if user.avatar %}
                    <div class="avatar"><img src="{{ user.avatar.url }}" /></div>
                {% endif %}
                <div class="post_preview"></div>
                <form method="post" action="{% if request.user.is_superuser %}{% url 'diskurs:new_group_post' course.short_title thread.id thread.filter_group_id %}{% else %}{% url 'diskurs:new_post' course.short_title thread.id %}{% endif %}">
                    <input type="hidden" name="parent_post_id" value="{{ post.id }}" />
                    {% csrf_token %}
                    <textarea class="reply_area" name="content"></textarea><br/>
                    <button type="submit" class="not_here_first post_button">POST</button>
                    <button type="button" class="preview_reply">PREVIEW</button>
                    <button type="reset" class="cancel_reply">CANCEL</button>
                    <button type="button" class="toggle_emojipicker">EMOJIS</button>
                </form>
                <div class="infoText">
                    You can use markdown<br/>
					To quote somebody, copy/paste from their comment<br/>
					Paste image URLs to insert pictures
                </div>
            </div>
        </div>
		
    </div>
    {% if post.deleted %}
        {% include "diskurs/thread/post/content_deleted.html" with post=post thread=thread %}
    {% else %}
        {% include "diskurs/thread/post/content.html" with post=post thread=thread %}
    {% endif %}
</div>