.ChatMessage {
    font-weight: bold;
}

.ChatMessageAuthor {
    /*height:15px;*/
    font-weight:bold;
    /*float:left;*/
    padding:2px;
    font-size:12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.staff {
    background-color: rgb(216,252,212);
}

.ChatMessageBody {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-bottom: 1px solid #ddd;
    padding:2px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:14px;
    line-height:17px;
    padding-top:4px;
    min-height:40px;
    word-break: break-word;
    background: #f8f8f8;
}
